In [7]:
import datetime
from pyspark.sql import DataFrame, Row, SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import unix_timestamp, from_unixtime, col
from pyspark.sql import functions as F

In [2]:
fg1_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("label", StringType(), True)    
])

fg2_schema = StructType([
  StructField("id_2", IntegerType(), True),
  StructField("ts_2", IntegerType(), True),
  StructField("f2", StringType(), True)    
])

fg3_schema = StructType([
  StructField("id_3", IntegerType(), True),
  StructField("ts_3", IntegerType(), True),
  StructField("f3", StringType(), True)    
])

In [3]:
data1 = [[1, 5, "1x"],
         [1, 7, "1y"],
         [1, 4, "1z"],
         [2, 6, "2x"],
         [2, 8, "2y"]]

data2 = [[1, 5, "1x"],
         [1, 7, "1y"],
         [1, 4, "1z"],
         [2, 6, "2x"],
         [2, 8, "2y"]]

data3 = [[1, 10, "f3-1-10"],
         [1, 1, "f3-1-1"],
         [1, 6, "f3-1-6"],
         [2, 2, "f3-2-2"],
         [2, 8, "f3-2-8"]]

In [4]:
data1 = [[1, 5, "1x"],
         [1, 7, "1y"],
         [1, 4, "1z"],
         [2, 6, "2x"],
         [2, 8, "2y"]]

In [5]:
data3 = [[1, 10, "f3-1-10"],
         [1, 1, "f3-1-1"],
         [1, 6, "f3-1-6"],
         [2, 2, "f3-2-2"],
         [2, 8, "f3-2-8"]]

In [8]:
spark = spark = SparkSession.builder.master("local").appName("Three Way PIT").config("spark.some.config.option", "some-value").getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/08 19:37:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
fg1 = spark.createDataFrame(data1, schema=fg1_schema) 
fg2 = spark.createDataFrame(data2, schema=fg2_schema) 
fg3 = spark.createDataFrame(data3, schema=fg3_schema)

In [10]:
fg1.join(fg2, fg1.id == fg2.id_2).count()

13

In [11]:
fg1.join(fg2, fg1.id == fg2.id_2).show(50)

+---+---+-----+----+----+---+
| id| ts|label|id_2|ts_2| f2|
+---+---+-----+----+----+---+
|  1|  5|   1x|   1|   5| 1x|
|  1|  5|   1x|   1|   7| 1y|
|  1|  5|   1x|   1|   4| 1z|
|  1|  7|   1y|   1|   5| 1x|
|  1|  7|   1y|   1|   7| 1y|
|  1|  7|   1y|   1|   4| 1z|
|  1|  4|   1z|   1|   5| 1x|
|  1|  4|   1z|   1|   7| 1y|
|  1|  4|   1z|   1|   4| 1z|
|  2|  6|   2x|   2|   6| 2x|
|  2|  6|   2x|   2|   8| 2y|
|  2|  8|   2y|   2|   6| 2x|
|  2|  8|   2y|   2|   8| 2y|
+---+---+-----+----+----+---+

In [12]:
fg1.join(fg2, fg1.id == fg2.id_2).join(fg3, fg1.id == fg3.id_3).count()

35

In [13]:
fg1.join(fg2, fg1.id == fg2.id_2).join(fg3, fg1.id == fg3.id_3).show(50)

+---+---+-----+----+----+---+----+----+-------+
| id| ts|label|id_2|ts_2| f2|id_3|ts_3|     f3|
+---+---+-----+----+----+---+----+----+-------+
|  1|  4|   1z|   1|   4| 1z|   1|  10|f3-1-10|
|  1|  4|   1z|   1|   7| 1y|   1|  10|f3-1-10|
|  1|  4|   1z|   1|   5| 1x|   1|  10|f3-1-10|
|  1|  7|   1y|   1|   4| 1z|   1|  10|f3-1-10|
|  1|  7|   1y|   1|   7| 1y|   1|  10|f3-1-10|
|  1|  7|   1y|   1|   5| 1x|   1|  10|f3-1-10|
|  1|  5|   1x|   1|   4| 1z|   1|  10|f3-1-10|
|  1|  5|   1x|   1|   7| 1y|   1|  10|f3-1-10|
|  1|  5|   1x|   1|   5| 1x|   1|  10|f3-1-10|
|  1|  4|   1z|   1|   4| 1z|   1|   1| f3-1-1|
|  1|  4|   1z|   1|   7| 1y|   1|   1| f3-1-1|
|  1|  4|   1z|   1|   5| 1x|   1|   1| f3-1-1|
|  1|  7|   1y|   1|   4| 1z|   1|   1| f3-1-1|
|  1|  7|   1y|   1|   7| 1y|   1|   1| f3-1-1|
|  1|  7|   1y|   1|   5| 1x|   1|   1| f3-1-1|
|  1|  5|   1x|   1|   4| 1z|   1|   1| f3-1-1|
|  1|  5|   1x|   1|   7| 1y|   1|   1| f3-1-1|
|  1|  5|   1x|   1|   5| 1x|   1|   1| f3-1-1|
|  1|  4|   1z|   1|   4| 1z|   1|   6| f3-1-6|
|  1|  4|   1z|   1|   7| 1y|   1|   6| f3-1-6|
|  1|  4|   1z|   1|   5| 1x|   1|   6| f3-1-6|
|  1|  7|   1y|   1|   4| 1z|   1|   6| f3-1-6|
|  1|  7|   1y|   1|   7| 1y|   1|   6| f3-1-6|
|  1|  7|   1y|   1|   5| 1x|   1|   6| f3-1-6|
|  1|  5|   1x|   1|   4| 1z|   1|   6| f3-1-6|
|  1|  5|   1x|   1|   7| 1y|   1|   6| f3-1-6|
|  1|  5|   1x|   1|   5| 1x|   1|   6| f3-1-6|
|  2|  8|   2y|   2|   8| 2y|   2|   2| f3-2-2|
|  2|  8|   2y|   2|   6| 2x|   2|   2| f3-2-2|
|  2|  6|   2x|   2|   8| 2y|   2|   2| f3-2-2|
|  2|  6|   2x|   2|   6| 2x|   2|   2| f3-2-2|
|  2|  8|   2y|   2|   8| 2y|   2|   8| f3-2-8|
|  2|  8|   2y|   2|   6| 2x|   2|   8| f3-2-8|
|  2|  6|   2x|   2|   8| 2y|   2|   8| f3-2-8|
|  2|  6|   2x|   2|   6| 2x|   2|   8| f3-2-8|
+---+---+-----+----+----+---+----+----+-------+

### With Time

In [14]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)).count()

9

In [15]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)).show()

+---+---+-----+----+----+---+
| id| ts|label|id_2|ts_2| f2|
+---+---+-----+----+----+---+
|  1|  5|   1x|   1|   5| 1x|
|  1|  5|   1x|   1|   4| 1z|
|  1|  7|   1y|   1|   5| 1x|
|  1|  7|   1y|   1|   7| 1y|
|  1|  7|   1y|   1|   4| 1z|
|  1|  4|   1z|   1|   4| 1z|
|  2|  6|   2x|   2|   6| 2x|
|  2|  8|   2y|   2|   6| 2x|
|  2|  8|   2y|   2|   8| 2y|
+---+---+-----+----+----+---+

In [16]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)).join(
    fg3, (fg1.id == fg3.id_3) & (fg1.ts >= fg3.ts_3)
).count()

14

In [14]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)).join(
    fg3, (fg1.id == fg3.id_3) & (fg1.ts >= fg3.ts_3)
).show(50)

+---+---+-----+----+----+---+----+----+------+
| id| ts|label|id_2|ts_2| f2|id_3|ts_3|    f3|
+---+---+-----+----+----+---+----+----+------+
|  1|  4|   1z|   1|   4| 1z|   1|   1|f3-1-1|
|  1|  5|   1x|   1|   4| 1z|   1|   1|f3-1-1|
|  1|  5|   1x|   1|   5| 1x|   1|   1|f3-1-1|
|  1|  7|   1y|   1|   4| 1z|   1|   1|f3-1-1|
|  1|  7|   1y|   1|   4| 1z|   1|   6|f3-1-6|
|  1|  7|   1y|   1|   5| 1x|   1|   1|f3-1-1|
|  1|  7|   1y|   1|   5| 1x|   1|   6|f3-1-6|
|  1|  7|   1y|   1|   7| 1y|   1|   1|f3-1-1|
|  1|  7|   1y|   1|   7| 1y|   1|   6|f3-1-6|
|  2|  6|   2x|   2|   6| 2x|   2|   2|f3-2-2|
|  2|  8|   2y|   2|   6| 2x|   2|   2|f3-2-2|
|  2|  8|   2y|   2|   6| 2x|   2|   8|f3-2-8|
|  2|  8|   2y|   2|   8| 2y|   2|   2|f3-2-2|
|  2|  8|   2y|   2|   8| 2y|   2|   8|f3-2-8|
+---+---+-----+----+----+---+----+----+------+

## Add window

In [15]:
from pyspark.sql import Window
from pyspark.sql.functions import lit, when, col, lag, rank, row_number, dense_rank, desc

win2 = Window.partitionBy(["id", "ts"]).orderBy(col('ts_2').desc())
win3 = Window.partitionBy(["id", "ts"]).orderBy(col('ts_3').desc())

In [16]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)).join(
    fg3, (fg1.id == fg3.id_3) & (fg1.ts >= fg3.ts_3)
).withColumn("rank2", rank().over(win2)).withColumn(
    "rank3", rank().over(win3)
).withColumn(
    "row2", row_number().over(win2)
).withColumn(
    "row3", row_number().over(win3)
).withColumn(
    "dense2", dense_rank().over(win2)
).withColumn(
    "dense3", dense_rank().over(win3)
).show(
    50
)

+---+---+-----+----+----+---+----+----+------+-----+-----+----+----+------+------+
| id| ts|label|id_2|ts_2| f2|id_3|ts_3|    f3|rank2|rank3|row2|row3|dense2|dense3|
+---+---+-----+----+----+---+----+----+------+-----+-----+----+----+------+------+
|  1|  4|   1z|   1|   4| 1z|   1|   1|f3-1-1|    1|    1|   1|   1|     1|     1|
|  1|  5|   1x|   1|   5| 1x|   1|   1|f3-1-1|    1|    1|   1|   1|     1|     1|
|  1|  5|   1x|   1|   4| 1z|   1|   1|f3-1-1|    2|    1|   2|   2|     2|     1|
|  1|  7|   1y|   1|   7| 1y|   1|   6|f3-1-6|    1|    1|   1|   1|     1|     1|
|  1|  7|   1y|   1|   5| 1x|   1|   6|f3-1-6|    3|    1|   3|   2|     2|     1|
|  1|  7|   1y|   1|   4| 1z|   1|   6|f3-1-6|    5|    1|   5|   3|     3|     1|
|  1|  7|   1y|   1|   7| 1y|   1|   1|f3-1-1|    1|    4|   2|   4|     1|     2|
|  1|  7|   1y|   1|   5| 1x|   1|   1|f3-1-1|    3|    4|   4|   5|     2|     2|
|  1|  7|   1y|   1|   4| 1z|   1|   1|f3-1-1|    5|    4|   6|   6|     3|     2|
|  2|  6|   2x|   2|   6| 2x|   2|   2|f3-2-2|    1|    1|   1|   1|     1|     1|
|  2|  8|   2y|   2|   8| 2y|   2|   8|f3-2-8|    1|    1|   1|   1|     1|     1|
|  2|  8|   2y|   2|   6| 2x|   2|   8|f3-2-8|    3|    1|   3|   2|     2|     1|
|  2|  8|   2y|   2|   8| 2y|   2|   2|f3-2-2|    1|    3|   2|   3|     1|     2|
|  2|  8|   2y|   2|   6| 2x|   2|   2|f3-2-2|    3|    3|   4|   4|     2|     2|
+---+---+-----+----+----+---+----+----+------+-----+-----+----+----+------+------+

## One Window

In [17]:
win = Window.partitionBy(["id", "ts"]).orderBy(desc("ts_2"), desc("ts_3"))

In [18]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)) \
   .join(fg3, (fg1.id == fg3.id_3) & (fg1.ts >= fg3.ts_3)) \
   .withColumn("rank", rank().over(win)) \
   .withColumn("row", row_number().over(win)) \
   .withColumn("dense", dense_rank().over(win)) \
   .show(50)

+---+---+-----+----+----+---+----+----+------+----+---+-----+
| id| ts|label|id_2|ts_2| f2|id_3|ts_3|    f3|rank|row|dense|
+---+---+-----+----+----+---+----+----+------+----+---+-----+
|  1|  4|   1z|   1|   4| 1z|   1|   1|f3-1-1|   1|  1|    1|
|  1|  5|   1x|   1|   5| 1x|   1|   1|f3-1-1|   1|  1|    1|
|  1|  5|   1x|   1|   4| 1z|   1|   1|f3-1-1|   2|  2|    2|
|  1|  7|   1y|   1|   7| 1y|   1|   6|f3-1-6|   1|  1|    1|
|  1|  7|   1y|   1|   7| 1y|   1|   1|f3-1-1|   2|  2|    2|
|  1|  7|   1y|   1|   5| 1x|   1|   6|f3-1-6|   3|  3|    3|
|  1|  7|   1y|   1|   5| 1x|   1|   1|f3-1-1|   4|  4|    4|
|  1|  7|   1y|   1|   4| 1z|   1|   6|f3-1-6|   5|  5|    5|
|  1|  7|   1y|   1|   4| 1z|   1|   1|f3-1-1|   6|  6|    6|
|  2|  6|   2x|   2|   6| 2x|   2|   2|f3-2-2|   1|  1|    1|
|  2|  8|   2y|   2|   8| 2y|   2|   8|f3-2-8|   1|  1|    1|
|  2|  8|   2y|   2|   8| 2y|   2|   2|f3-2-2|   2|  2|    2|
|  2|  8|   2y|   2|   6| 2x|   2|   8|f3-2-8|   3|  3|    3|
|  2|  8|   2y|   2|   6| 2x|   2|   2|f3-2-2|   4|  4|    4|
+---+---+-----+----+----+---+----+----+------+----+---+-----+

In [19]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)) \
   .join(fg3, (fg1.id == fg3.id_3) & (fg1.ts >= fg3.ts_3)) \
   .withColumn("rank", rank().over(win)) \
   .withColumn("row", row_number().over(win)) \
   .withColumn("dense", dense_rank().over(win)) \
   .filter(col("rank") == 1) \
   .show(50)

+---+---+-----+----+----+---+----+----+------+----+---+-----+
| id| ts|label|id_2|ts_2| f2|id_3|ts_3|    f3|rank|row|dense|
+---+---+-----+----+----+---+----+----+------+----+---+-----+
|  1|  4|   1z|   1|   4| 1z|   1|   1|f3-1-1|   1|  1|    1|
|  1|  5|   1x|   1|   5| 1x|   1|   1|f3-1-1|   1|  1|    1|
|  1|  7|   1y|   1|   7| 1y|   1|   6|f3-1-6|   1|  1|    1|
|  2|  6|   2x|   2|   6| 2x|   2|   2|f3-2-2|   1|  1|    1|
|  2|  8|   2y|   2|   8| 2y|   2|   8|f3-2-8|   1|  1|    1|
+---+---+-----+----+----+---+----+----+------+----+---+-----+

In [20]:
fg1.join(fg2, (fg1.id == fg2.id_2) & (fg1.ts >= fg2.ts_2)) \
   .join(fg3, (fg1.id == fg3.id_3) & (fg1.ts >= fg3.ts_3)) \
   .withColumn("rank", rank().over(win)) \
   .filter(col("rank") == 1) \
   .explain()

== Physical Plan ==
*(9) Filter (isnotnull(rank#870) AND (rank#870 = 1))
+- Window [rank(ts_2#7, ts_3#13) windowspecdefinition(id#0, ts#1, ts_2#7 DESC NULLS LAST, ts_3#13 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#870], [id#0, ts#1], [ts_2#7 DESC NULLS LAST, ts_3#13 DESC NULLS LAST]
   +- *(8) Sort [id#0 ASC NULLS FIRST, ts#1 ASC NULLS FIRST, ts_2#7 DESC NULLS LAST, ts_3#13 DESC NULLS LAST], false, 0
      +- *(8) SortMergeJoin [id#0], [id_3#12], Inner, (ts#1 >= ts_3#13)
         :- *(5) SortMergeJoin [id#0], [id_2#6], Inner, (ts#1 >= ts_2#7)
         :  :- *(2) Sort [id#0 ASC NULLS FIRST], false, 0
         :  :  +- Exchange hashpartitioning(id#0, 200), ENSURE_REQUIREMENTS, [id=#977]
         :  :     +- *(1) Filter (isnotnull(id#0) AND isnotnull(ts#1))
         :  :        +- *(1) Scan ExistingRDD[id#0,ts#1,label#2]
         :  +- *(4) Sort [id_2#6 ASC NULLS FIRST], false, 0
         :     +- Exchange hashpartitioning(id_2#6, 200), ENSURE_REQUIREMENTS, [id=#983]
         :        +- *(3) Filter (isnotnull(id_2#6) AND isnotnull(ts_2#7))
         :           +- *(3) Scan ExistingRDD[id_2#6,ts_2#7,f2#8]
         +- *(7) Sort [id_3#12 ASC NULLS FIRST], false, 0
            +- Exchange hashpartitioning(id_3#12, 200), ENSURE_REQUIREMENTS, [id=#992]
               +- *(6) Filter (isnotnull(id_3#12) AND isnotnull(ts_3#13))
                  +- *(6) Scan ExistingRDD[id_3#12,ts_3#13,f3#14]

In [21]:
fg1.explain()

== Physical Plan ==
*(1) Scan ExistingRDD[id#0,ts#1,label#2]

In [22]:
fg1.registerTempTable("fg1")
fg2.registerTempTable("fg2")
fg3.registerTempTable("fg3")

In [23]:
result = spark.sql("with x as ("
                       "SELECT id, ts, label, ts_2, f2, ts_3, f3, RANK() OVER (PARTITION BY id, ts ORDER BY (ts_2, ts_3) DESC) AS rank "
                       "FROM fg1 a "
                       "join fg2 b "
                       "on a.id = b.id_2 "
                       "and a.ts >= b.ts_2 "
                       "join fg3 c "
                       "on a.id = c.id_3 "
                       "and a.ts >= c.ts_3) "
                   "select * from x where rank = 1");

In [24]:
result.show(50)

+---+---+-----+----+---+----+------+----+
| id| ts|label|ts_2| f2|ts_3|    f3|rank|
+---+---+-----+----+---+----+------+----+
|  1|  4|   1z|   4| 1z|   1|f3-1-1|   1|
|  1|  5|   1x|   5| 1x|   1|f3-1-1|   1|
|  1|  7|   1y|   7| 1y|   6|f3-1-6|   1|
|  2|  6|   2x|   6| 2x|   2|f3-2-2|   1|
|  2|  8|   2y|   8| 2y|   8|f3-2-8|   1|
+---+---+-----+----+---+----+------+----+

In [25]:
result.explain(True)

== Parsed Logical Plan ==
CTE [x]
:  +- 'SubqueryAlias x
:     +- 'Project ['id, 'ts, 'label, 'ts_2, 'f2, 'ts_3, 'f3, 'RANK() windowspecdefinition('id, 'ts, named_struct(NamePlaceholder, 'ts_2, NamePlaceholder, 'ts_3) DESC NULLS LAST, unspecifiedframe$()) AS rank#889]
:        +- 'Join Inner, (('a.id = 'c.id_3) AND ('a.ts >= 'c.ts_3))
:           :- 'Join Inner, (('a.id = 'b.id_2) AND ('a.ts >= 'b.ts_2))
:           :  :- 'SubqueryAlias a
:           :  :  +- 'UnresolvedRelation [fg1], [], false
:           :  +- 'SubqueryAlias b
:           :     +- 'UnresolvedRelation [fg2], [], false
:           +- 'SubqueryAlias c
:              +- 'UnresolvedRelation [fg3], [], false
+- 'Project [*]
   +- 'Filter ('rank = 1)
      +- 'UnresolvedRelation [x], [], false

== Analyzed Logical Plan ==
id: int, ts: int, label: string, ts_2: int, f2: string, ts_3: int, f3: string, rank: int
Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, rank#889]
+- Filter (rank#889 = 1)
   +- SubqueryAlias x
      +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, rank#889]
         +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, _w0#892, rank#889, rank#889]
            +- Window [rank(_w0#892) windowspecdefinition(id#0, ts#1, _w0#892 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#889], [id#0, ts#1], [_w0#892 DESC NULLS LAST]
               +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, named_struct(ts_2, ts_2#7, ts_3, ts_3#13) AS _w0#892]
                  +- Join Inner, ((id#0 = id_3#12) AND (ts#1 >= ts_3#13))
                     :- Join Inner, ((id#0 = id_2#6) AND (ts#1 >= ts_2#7))
                     :  :- SubqueryAlias a
                     :  :  +- SubqueryAlias fg1
                     :  :     +- LogicalRDD [id#0, ts#1, label#2], false
                     :  +- SubqueryAlias b
                     :     +- SubqueryAlias fg2
                     :        +- LogicalRDD [id_2#6, ts_2#7, f2#8], false
                     +- SubqueryAlias c
                        +- SubqueryAlias fg3
                           +- LogicalRDD [id_3#12, ts_3#13, f3#14], false

== Optimized Logical Plan ==
Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, rank#889]
+- Filter (isnotnull(rank#889) AND (rank#889 = 1))
   +- Window [rank(_w0#892) windowspecdefinition(id#0, ts#1, _w0#892 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#889], [id#0, ts#1], [_w0#892 DESC NULLS LAST]
      +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, named_struct(ts_2, ts_2#7, ts_3, ts_3#13) AS _w0#892]
         +- Join Inner, ((id#0 = id_3#12) AND (ts#1 >= ts_3#13))
            :- Project [id#0, ts#1, label#2, ts_2#7, f2#8]
            :  +- Join Inner, ((id#0 = id_2#6) AND (ts#1 >= ts_2#7))
            :     :- Filter (isnotnull(id#0) AND isnotnull(ts#1))
            :     :  +- LogicalRDD [id#0, ts#1, label#2], false
            :     +- Filter (isnotnull(id_2#6) AND isnotnull(ts_2#7))
            :        +- LogicalRDD [id_2#6, ts_2#7, f2#8], false
            +- Filter (isnotnull(id_3#12) AND isnotnull(ts_3#13))
               +- LogicalRDD [id_3#12, ts_3#13, f3#14], false

== Physical Plan ==
*(9) Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, rank#889]
+- *(9) Filter (isnotnull(rank#889) AND (rank#889 = 1))
   +- Window [rank(_w0#892) windowspecdefinition(id#0, ts#1, _w0#892 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#889], [id#0, ts#1], [_w0#892 DESC NULLS LAST]
      +- *(8) Sort [id#0 ASC NULLS FIRST, ts#1 ASC NULLS FIRST, _w0#892 DESC NULLS LAST], false, 0
         +- *(8) Project [id#0, ts#1, label#2, ts_2#7, f2#8, ts_3#13, f3#14, named_struct(ts_2, ts_2#7, ts_3, ts_3#13) AS _w0#892]
            +- *(8) SortMergeJoin [id#0], [id_3#12], Inner, (ts#1 >= ts_3#13)
               :- *(5) Project [id#0, ts#1, label#2, ts_2#7, f2#8]
               :  +- *(5) SortMergeJoin [id#0], [id_2#6], Inner, (ts#1 >= ts_2#7)
               :     :- *(2) Sort [id#0 ASC NULLS FIRST], false, 0
               :     :  +- Exchange hashpartitioning(id#0, 200), ENSURE_REQUIREMENTS, [id=#1192]
               :     :     +- *(1) Filter (isnotnull(id#0) AND isnotnull(ts#1))
               :     :        +- *(1) Scan ExistingRDD[id#0,ts#1,label#2]
               :     +- *(4) Sort [id_2#6 ASC NULLS FIRST], false, 0
               :        +- Exchange hashpartitioning(id_2#6, 200), ENSURE_REQUIREMENTS, [id=#1198]
               :           +- *(3) Filter (isnotnull(id_2#6) AND isnotnull(ts_2#7))
               :              +- *(3) Scan ExistingRDD[id_2#6,ts_2#7,f2#8]
               +- *(7) Sort [id_3#12 ASC NULLS FIRST], false, 0
                  +- Exchange hashpartitioning(id_3#12, 200), ENSURE_REQUIREMENTS, [id=#1208]
                     +- *(6) Filter (isnotnull(id_3#12) AND isnotnull(ts_3#13))
                        +- *(6) Scan ExistingRDD[id_3#12,ts_3#13,f3#14]

In [26]:
result2 = spark.sql("with "
                   "x1 ("
                       "select * from ("
                           "SELECT id, ts, label, ts_2, f2, RANK() OVER (PARTITION BY id, ts ORDER BY ts_2 DESC) AS rank "
                           "FROM fg1 a "
                           "join fg2 b "
                           "on a.id = b.id_2 "
                           "and a.ts >= b.ts_2) "
                       "where rank = 1), "
                   "x2 ("
                       "select * from ("
                           "SELECT id, ts, label, ts_3, f3, RANK() OVER (PARTITION BY id, ts ORDER BY ts_3 DESC) AS rank "
                           "FROM fg1 a "
                           "join fg3 b "
                           "on a.id = b.id_3 "
                           "and a.ts >= b.ts_3) "
                       "where rank = 1) "
                   "select * from x1 "
                   "join x2 "
                   "on x1.id = x2.id "
                   "and x1.ts = x2.ts");

In [27]:
result2.show(50)

+---+---+-----+----+---+----+---+---+-----+----+------+----+
| id| ts|label|ts_2| f2|rank| id| ts|label|ts_3|    f3|rank|
+---+---+-----+----+---+----+---+---+-----+----+------+----+
|  1|  7|   1y|   7| 1y|   1|  1|  7|   1y|   6|f3-1-6|   1|
|  1|  4|   1z|   4| 1z|   1|  1|  4|   1z|   1|f3-1-1|   1|
|  1|  5|   1x|   5| 1x|   1|  1|  5|   1x|   1|f3-1-1|   1|
|  2|  8|   2y|   8| 2y|   1|  2|  8|   2y|   8|f3-2-8|   1|
|  2|  6|   2x|   6| 2x|   1|  2|  6|   2x|   2|f3-2-2|   1|
+---+---+-----+----+---+----+---+---+-----+----+------+----+

In [28]:
result2.explain(True)

== Parsed Logical Plan ==
CTE [x1, x2]
:  :- 'SubqueryAlias x1
:  :  +- 'Project [*]
:  :     +- 'Filter ('rank = 1)
:  :        +- 'SubqueryAlias __auto_generated_subquery_name
:  :           +- 'Project ['id, 'ts, 'label, 'ts_2, 'f2, 'RANK() windowspecdefinition('id, 'ts, 'ts_2 DESC NULLS LAST, unspecifiedframe$()) AS rank#940]
:  :              +- 'Join Inner, (('a.id = 'b.id_2) AND ('a.ts >= 'b.ts_2))
:  :                 :- 'SubqueryAlias a
:  :                 :  +- 'UnresolvedRelation [fg1], [], false
:  :                 +- 'SubqueryAlias b
:  :                    +- 'UnresolvedRelation [fg2], [], false
:  +- 'SubqueryAlias x2
:     +- 'Project [*]
:        +- 'Filter ('rank = 1)
:           +- 'SubqueryAlias __auto_generated_subquery_name
:              +- 'Project ['id, 'ts, 'label, 'ts_3, 'f3, 'RANK() windowspecdefinition('id, 'ts, 'ts_3 DESC NULLS LAST, unspecifiedframe$()) AS rank#941]
:                 +- 'Join Inner, (('a.id = 'b.id_3) AND ('a.ts >= 'b.ts_3))
:                    :- 'SubqueryAlias a
:                    :  +- 'UnresolvedRelation [fg1], [], false
:                    +- 'SubqueryAlias b
:                       +- 'UnresolvedRelation [fg3], [], false
+- 'Project [*]
   +- 'Join Inner, (('x1.id = 'x2.id) AND ('x1.ts = 'x2.ts))
      :- 'UnresolvedRelation [x1], [], false
      +- 'UnresolvedRelation [x2], [], false

== Analyzed Logical Plan ==
id: int, ts: int, label: string, ts_2: int, f2: string, rank: int, id: int, ts: int, label: string, ts_3: int, f3: string, rank: int
Project [id#0, ts#1, label#2, ts_2#7, f2#8, rank#940, id#946, ts#947, label#948, ts_3#13, f3#14, rank#941]
+- Join Inner, ((id#0 = id#946) AND (ts#1 = ts#947))
   :- SubqueryAlias x1
   :  +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, rank#940]
   :     +- Filter (rank#940 = 1)
   :        +- SubqueryAlias __auto_generated_subquery_name
   :           +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, rank#940]
   :              +- Project [id#0, ts#1, label#2, ts_2#7, f2#8, rank#940, rank#940]
   :                 +- Window [rank(ts_2#7) windowspecdefinition(id#0, ts#1, ts_2#7 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#940], [id#0, ts#1], [ts_2#7 DESC NULLS LAST]
   :                    +- Project [id#0, ts#1, label#2, ts_2#7, f2#8]
   :                       +- Join Inner, ((id#0 = id_2#6) AND (ts#1 >= ts_2#7))
   :                          :- SubqueryAlias a
   :                          :  +- SubqueryAlias fg1
   :                          :     +- LogicalRDD [id#0, ts#1, label#2], false
   :                          +- SubqueryAlias b
   :                             +- SubqueryAlias fg2
   :                                +- LogicalRDD [id_2#6, ts_2#7, f2#8], false
   +- SubqueryAlias x2
      +- Project [id#946, ts#947, label#948, ts_3#13, f3#14, rank#941]
         +- Filter (rank#941 = 1)
            +- SubqueryAlias __auto_generated_subquery_name
               +- Project [id#946, ts#947, label#948, ts_3#13, f3#14, rank#941]
                  +- Project [id#946, ts#947, label#948, ts_3#13, f3#14, rank#941, rank#941]
                     +- Window [rank(ts_3#13) windowspecdefinition(id#946, ts#947, ts_3#13 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#941], [id#946, ts#947], [ts_3#13 DESC NULLS LAST]
                        +- Project [id#946, ts#947, label#948, ts_3#13, f3#14]
                           +- Join Inner, ((id#946 = id_3#12) AND (ts#947 >= ts_3#13))
                              :- SubqueryAlias a
                              :  +- SubqueryAlias fg1
                              :     +- LogicalRDD [id#946, ts#947, label#948], false
                              +- SubqueryAlias b
                                 +- SubqueryAlias fg3
                                    +- LogicalRDD [id_3#12, ts_3#13, f3#14], false

== Optimized Logical Plan ==
Join Inner, ((id#0 = id#946) AND (ts#1 = ts#947))
:- Filter (isnotnull(rank#940) AND (rank#940 = 1))
:  +- Window [rank(ts_2#7) windowspecdefinition(id#0, ts#1, ts_2#7 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#940], [id#0, ts#1], [ts_2#7 DESC NULLS LAST]
:     +- Project [id#0, ts#1, label#2, ts_2#7, f2#8]
:        +- Join Inner, ((id#0 = id_2#6) AND (ts#1 >= ts_2#7))
:           :- Filter (isnotnull(id#0) AND isnotnull(ts#1))
:           :  +- LogicalRDD [id#0, ts#1, label#2], false
:           +- Filter (isnotnull(id_2#6) AND isnotnull(ts_2#7))
:              +- LogicalRDD [id_2#6, ts_2#7, f2#8], false
+- Filter (isnotnull(rank#941) AND (rank#941 = 1))
   +- Window [rank(ts_3#13) windowspecdefinition(id#946, ts#947, ts_3#13 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#941], [id#946, ts#947], [ts_3#13 DESC NULLS LAST]
      +- Project [id#946, ts#947, label#948, ts_3#13, f3#14]
         +- Join Inner, ((id#946 = id_3#12) AND (ts#947 >= ts_3#13))
            :- Filter (isnotnull(id#946) AND isnotnull(ts#947))
            :  +- LogicalRDD [id#946, ts#947, label#948], false
            +- Filter (isnotnull(id_3#12) AND isnotnull(ts_3#13))
               +- LogicalRDD [id_3#12, ts_3#13, f3#14], false

== Physical Plan ==
*(15) SortMergeJoin [id#0, ts#1], [id#946, ts#947], Inner
:- *(7) Sort [id#0 ASC NULLS FIRST, ts#1 ASC NULLS FIRST], false, 0
:  +- Exchange hashpartitioning(id#0, ts#1, 200), ENSURE_REQUIREMENTS, [id=#1531]
:     +- *(6) Filter (isnotnull(rank#940) AND (rank#940 = 1))
:        +- Window [rank(ts_2#7) windowspecdefinition(id#0, ts#1, ts_2#7 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#940], [id#0, ts#1], [ts_2#7 DESC NULLS LAST]
:           +- *(5) Sort [id#0 ASC NULLS FIRST, ts#1 ASC NULLS FIRST, ts_2#7 DESC NULLS LAST], false, 0
:              +- *(5) Project [id#0, ts#1, label#2, ts_2#7, f2#8]
:                 +- *(5) SortMergeJoin [id#0], [id_2#6], Inner, (ts#1 >= ts_2#7)
:                    :- *(2) Sort [id#0 ASC NULLS FIRST], false, 0
:                    :  +- Exchange hashpartitioning(id#0, 200), ENSURE_REQUIREMENTS, [id=#1512]
:                    :     +- *(1) Filter (isnotnull(id#0) AND isnotnull(ts#1))
:                    :        +- *(1) Scan ExistingRDD[id#0,ts#1,label#2]
:                    +- *(4) Sort [id_2#6 ASC NULLS FIRST], false, 0
:                       +- Exchange hashpartitioning(id_2#6, 200), ENSURE_REQUIREMENTS, [id=#1518]
:                          +- *(3) Filter (isnotnull(id_2#6) AND isnotnull(ts_2#7))
:                             +- *(3) Scan ExistingRDD[id_2#6,ts_2#7,f2#8]
+- *(14) Sort [id#946 ASC NULLS FIRST, ts#947 ASC NULLS FIRST], false, 0
   +- Exchange hashpartitioning(id#946, ts#947, 200), ENSURE_REQUIREMENTS, [id=#1588]
      +- *(13) Filter (isnotnull(rank#941) AND (rank#941 = 1))
         +- Window [rank(ts_3#13) windowspecdefinition(id#946, ts#947, ts_3#13 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#941], [id#946, ts#947], [ts_3#13 DESC NULLS LAST]
            +- *(12) Sort [id#946 ASC NULLS FIRST, ts#947 ASC NULLS FIRST, ts_3#13 DESC NULLS LAST], false, 0
               +- *(12) Project [id#946, ts#947, label#948, ts_3#13, f3#14]
                  +- *(12) SortMergeJoin [id#946], [id_3#12], Inner, (ts#947 >= ts_3#13)
                     :- *(9) Sort [id#946 ASC NULLS FIRST], false, 0
                     :  +- ReusedExchange [id#946, ts#947, label#948], Exchange hashpartitioning(id#0, 200), ENSURE_REQUIREMENTS, [id=#1512]
                     +- *(11) Sort [id_3#12 ASC NULLS FIRST], false, 0
                        +- Exchange hashpartitioning(id_3#12, 200), ENSURE_REQUIREMENTS, [id=#1543]
                           +- *(10) Filter (isnotnull(id_3#12) AND isnotnull(ts_3#13))
                              +- *(10) Scan ExistingRDD[id_3#12,ts_3#13,f3#14]

## Real Data

In [29]:
from pyspark.sql.functions import unix_timestamp, from_unixtime, col
from hops import hdfs as hdfs

In [30]:
fg01_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("label", StringType(), True)    
])

fg01=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/5-10-2-out.csv", header=True, schema=fg01_schema)
#fg01=fg01.sort(col("id"),col("ts")).withColumn("ts", from_unixtime("ts").cast("timestamp"))
fg01=fg01.sort(col("id"),col("ts"))
fg01.show()

+---+----+-----+
| id|  ts|label|
+---+----+-----+
|  1|1002| f2-1|
|  1|1004| f2-2|
|  1|1006| f2-3|
|  1|1008| f2-4|
|  1|1010| f2-5|
|  2|1002| f2-6|
|  2|1004| f2-7|
|  2|1006| f2-8|
|  2|1008| f2-9|
|  2|1010|f2-10|
|  3|1002|f2-11|
|  3|1004|f2-12|
|  3|1006|f2-13|
|  3|1008|f2-14|
|  3|1010|f2-15|
|  4|1002|f2-16|
|  4|1004|f2-17|
|  4|1006|f2-18|
|  4|1008|f2-19|
|  4|1010|f2-20|
+---+----+-----+
only showing top 20 rows

In [31]:
fg02_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("f2", StringType(), True)    
])

fg02=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/5-10-3-out.csv", header=True, schema=fg02_schema)
#fg02=fg02.select([col("id").alias("id_2"), col("ts").alias("ts_2"), col("f2")]).withColumn("ts_2", from_unixtime("ts_2").cast("timestamp"))
fg02=fg02.select([col("id").alias("id_2"), col("ts").alias("ts_2"), col("f2")])
fg02.show()

+----+----+-----+
|id_2|ts_2|   f2|
+----+----+-----+
|   1|1003| f3-1|
|   1|1006| f3-2|
|   1|1009| f3-3|
|   2|1003| f3-4|
|   2|1006| f3-5|
|   2|1009| f3-6|
|   3|1003| f3-7|
|   3|1006| f3-8|
|   3|1009| f3-9|
|   4|1003|f3-10|
|   4|1006|f3-11|
|   4|1009|f3-12|
|   5|1003|f3-13|
|   5|1006|f3-14|
|   5|1009|f3-15|
+----+----+-----+

In [32]:
fg03_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("f3", StringType(), True)    
])

fg03=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/5-10-3-out.csv", header=True, schema=fg03_schema)
#fg03=fg03.select([col("id").alias("id_3"), col("ts").alias("ts_3"), col("f3")]).withColumn("ts_3", from_unixtime("ts_3").cast("timestamp"))
fg03=fg03.select([col("id").alias("id_3"), col("ts").alias("ts_3"), col("f3")])
fg03.show()

+----+----+-----+
|id_3|ts_3|   f3|
+----+----+-----+
|   1|1003| f3-1|
|   1|1006| f3-2|
|   1|1009| f3-3|
|   2|1003| f3-4|
|   2|1006| f3-5|
|   2|1009| f3-6|
|   3|1003| f3-7|
|   3|1006| f3-8|
|   3|1009| f3-9|
|   4|1003|f3-10|
|   4|1006|f3-11|
|   4|1009|f3-12|
|   5|1003|f3-13|
|   5|1006|f3-14|
|   5|1009|f3-15|
+----+----+-----+

In [33]:
fg01.registerTempTable("fg01")
fg02.registerTempTable("fg02")
fg03.registerTempTable("fg03")

In [34]:
result = spark.sql("with x as ("
                       "SELECT id, ts, label, ts_2, f2, ts_3, f3, RANK() OVER (PARTITION BY id, ts ORDER BY (ts_2, ts_3) DESC) AS rank "
                       "FROM fg01 a "
                       "join fg02 b "
                       "on a.id = b.id_2 "
                       "and a.ts >= b.ts_2 "
                       "join fg03 c "
                       "on a.id = c.id_3 "
                       "and a.ts >= c.ts_3) "
                   "select * from x where rank = 1");

In [35]:
result.sort(col("id"),col("ts")).show(50)

+---+----+-----+----+-----+----+-----+----+
| id|  ts|label|ts_2|   f2|ts_3|   f3|rank|
+---+----+-----+----+-----+----+-----+----+
|  1|1004| f2-2|1003| f3-1|1003| f3-1|   1|
|  1|1006| f2-3|1006| f3-2|1006| f3-2|   1|
|  1|1008| f2-4|1006| f3-2|1006| f3-2|   1|
|  1|1010| f2-5|1009| f3-3|1009| f3-3|   1|
|  2|1004| f2-7|1003| f3-4|1003| f3-4|   1|
|  2|1006| f2-8|1006| f3-5|1006| f3-5|   1|
|  2|1008| f2-9|1006| f3-5|1006| f3-5|   1|
|  2|1010|f2-10|1009| f3-6|1009| f3-6|   1|
|  3|1004|f2-12|1003| f3-7|1003| f3-7|   1|
|  3|1006|f2-13|1006| f3-8|1006| f3-8|   1|
|  3|1008|f2-14|1006| f3-8|1006| f3-8|   1|
|  3|1010|f2-15|1009| f3-9|1009| f3-9|   1|
|  4|1004|f2-17|1003|f3-10|1003|f3-10|   1|
|  4|1006|f2-18|1006|f3-11|1006|f3-11|   1|
|  4|1008|f2-19|1006|f3-11|1006|f3-11|   1|
|  4|1010|f2-20|1009|f3-12|1009|f3-12|   1|
|  5|1004|f2-22|1003|f3-13|1003|f3-13|   1|
|  5|1006|f2-23|1006|f3-14|1006|f3-14|   1|
|  5|1008|f2-24|1006|f3-14|1006|f3-14|   1|
|  5|1010|f2-25|1009|f3-15|1009|f3-15|   1|
+---+----+-----+----+-----+----+-----+----+

In [36]:
result.explain(True)

== Parsed Logical Plan ==
CTE [x]
:  +- 'SubqueryAlias x
:     +- 'Project ['id, 'ts, 'label, 'ts_2, 'f2, 'ts_3, 'f3, 'RANK() windowspecdefinition('id, 'ts, named_struct(NamePlaceholder, 'ts_2, NamePlaceholder, 'ts_3) DESC NULLS LAST, unspecifiedframe$()) AS rank#1104]
:        +- 'Join Inner, (('a.id = 'c.id_3) AND ('a.ts >= 'c.ts_3))
:           :- 'Join Inner, (('a.id = 'b.id_2) AND ('a.ts >= 'b.ts_2))
:           :  :- 'SubqueryAlias a
:           :  :  +- 'UnresolvedRelation [fg01], [], false
:           :  +- 'SubqueryAlias b
:           :     +- 'UnresolvedRelation [fg02], [], false
:           +- 'SubqueryAlias c
:              +- 'UnresolvedRelation [fg03], [], false
+- 'Project [*]
   +- 'Filter ('rank = 1)
      +- 'UnresolvedRelation [x], [], false

== Analyzed Logical Plan ==
id: int, ts: int, label: string, ts_2: int, f2: string, ts_3: int, f3: string, rank: int
Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, rank#1104]
+- Filter (rank#1104 = 1)
   +- SubqueryAlias x
      +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, rank#1104]
         +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, _w0#1107, rank#1104, rank#1104]
            +- Window [rank(_w0#1107) windowspecdefinition(id#1028, ts#1029, _w0#1107 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1104], [id#1028, ts#1029], [_w0#1107 DESC NULLS LAST]
               +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, named_struct(ts_2, ts_2#1057, ts_3, ts_3#1084) AS _w0#1107]
                  +- Join Inner, ((id#1028 = id_3#1083) AND (ts#1029 >= ts_3#1084))
                     :- Join Inner, ((id#1028 = id_2#1056) AND (ts#1029 >= ts_2#1057))
                     :  :- SubqueryAlias a
                     :  :  +- SubqueryAlias fg01
                     :  :     +- Sort [id#1028 ASC NULLS FIRST, ts#1029 ASC NULLS FIRST], true
                     :  :        +- Relation[id#1028,ts#1029,label#1030] csv
                     :  +- SubqueryAlias b
                     :     +- SubqueryAlias fg02
                     :        +- Project [id#1050 AS id_2#1056, ts#1051 AS ts_2#1057, f2#1052]
                     :           +- Relation[id#1050,ts#1051,f2#1052] csv
                     +- SubqueryAlias c
                        +- SubqueryAlias fg03
                           +- Project [id#1077 AS id_3#1083, ts#1078 AS ts_3#1084, f3#1079]
                              +- Relation[id#1077,ts#1078,f3#1079] csv

== Optimized Logical Plan ==
Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, rank#1104]
+- Filter (isnotnull(rank#1104) AND (rank#1104 = 1))
   +- Window [rank(_w0#1107) windowspecdefinition(id#1028, ts#1029, _w0#1107 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1104], [id#1028, ts#1029], [_w0#1107 DESC NULLS LAST]
      +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, named_struct(ts_2, ts_2#1057, ts_3, ts_3#1084) AS _w0#1107]
         +- Join Inner, ((id#1028 = id_3#1083) AND (ts#1029 >= ts_3#1084))
            :- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052]
            :  +- Join Inner, ((id#1028 = id_2#1056) AND (ts#1029 >= ts_2#1057))
            :     :- Filter (isnotnull(id#1028) AND isnotnull(ts#1029))
            :     :  +- Relation[id#1028,ts#1029,label#1030] csv
            :     +- Project [id#1050 AS id_2#1056, ts#1051 AS ts_2#1057, f2#1052]
            :        +- Filter (isnotnull(id#1050) AND isnotnull(ts#1051))
            :           +- Relation[id#1050,ts#1051,f2#1052] csv
            +- Project [id#1077 AS id_3#1083, ts#1078 AS ts_3#1084, f3#1079]
               +- Filter (isnotnull(id#1077) AND isnotnull(ts#1078))
                  +- Relation[id#1077,ts#1078,f3#1079] csv

== Physical Plan ==
*(5) Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, rank#1104]
+- *(5) Filter (isnotnull(rank#1104) AND (rank#1104 = 1))
   +- Window [rank(_w0#1107) windowspecdefinition(id#1028, ts#1029, _w0#1107 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1104], [id#1028, ts#1029], [_w0#1107 DESC NULLS LAST]
      +- *(4) Sort [id#1028 ASC NULLS FIRST, ts#1029 ASC NULLS FIRST, _w0#1107 DESC NULLS LAST], false, 0
         +- Exchange hashpartitioning(id#1028, ts#1029, 200), ENSURE_REQUIREMENTS, [id=#1829]
            +- *(3) Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, ts_3#1084, f3#1079, named_struct(ts_2, ts_2#1057, ts_3, ts_3#1084) AS _w0#1107]
               +- *(3) BroadcastHashJoin [id#1028], [id_3#1083], Inner, BuildRight, (ts#1029 >= ts_3#1084), false
                  :- *(3) Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052]
                  :  +- *(3) BroadcastHashJoin [id#1028], [id_2#1056], Inner, BuildRight, (ts#1029 >= ts_2#1057), false
                  :     :- *(3) Filter (isnotnull(id#1028) AND isnotnull(ts#1029))
                  :     :  +- FileScan csv [id#1028,ts#1029,label#1030] Batched: false, DataFilters: [isnotnull(id#1028), isnotnull(ts#1029)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int,label:string>
                  :     +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, true] as bigint)),false), [id=#1816]
                  :        +- *(1) Project [id#1050 AS id_2#1056, ts#1051 AS ts_2#1057, f2#1052]
                  :           +- *(1) Filter (isnotnull(id#1050) AND isnotnull(ts#1051))
                  :              +- FileScan csv [id#1050,ts#1051,f2#1052] Batched: false, DataFilters: [isnotnull(id#1050), isnotnull(ts#1051)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int,f2:string>
                  +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, true] as bigint)),false), [id=#1824]
                     +- *(2) Project [id#1077 AS id_3#1083, ts#1078 AS ts_3#1084, f3#1079]
                        +- *(2) Filter (isnotnull(id#1077) AND isnotnull(ts#1078))
                           +- FileScan csv [id#1077,ts#1078,f3#1079] Batched: false, DataFilters: [isnotnull(id#1077), isnotnull(ts#1078)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int,f3:string>

In [37]:
result2 = spark.sql("with "
                   "x1 as ("
                       "select * from ("
                           "SELECT id, ts, label, ts_2, f2, RANK() OVER (PARTITION BY id, ts ORDER BY ts_2 DESC) AS rank "
                           "FROM fg01 a "
                           "join fg02 b "
                           "on a.id = b.id_2 "
                           "and a.ts >= b.ts_2) "
                       "where rank = 1), "
                   "x2 as ("
                       "select * from ("
                           "SELECT id, ts, label, ts_3, f3, RANK() OVER (PARTITION BY id, ts ORDER BY ts_3 DESC) AS rank "
                           "FROM fg01 a "
                           "join fg03 b "
                           "on a.id = b.id_3 "
                           "and a.ts >= b.ts_3) "
                       "where rank = 1) "
                   "select x1.id, x1.ts, x1.label, x1.f2, x2.f3 from x1 "
                   "join x2 "
                   "on x1.id = x2.id "
                   "and x1.ts = x2.ts");

In [38]:
result2.sort(col("id"),col("ts")).show(50)

+---+----+-----+-----+-----+
| id|  ts|label|   f2|   f3|
+---+----+-----+-----+-----+
|  1|1004| f2-2| f3-1| f3-1|
|  1|1006| f2-3| f3-2| f3-2|
|  1|1008| f2-4| f3-2| f3-2|
|  1|1010| f2-5| f3-3| f3-3|
|  2|1004| f2-7| f3-4| f3-4|
|  2|1006| f2-8| f3-5| f3-5|
|  2|1008| f2-9| f3-5| f3-5|
|  2|1010|f2-10| f3-6| f3-6|
|  3|1004|f2-12| f3-7| f3-7|
|  3|1006|f2-13| f3-8| f3-8|
|  3|1008|f2-14| f3-8| f3-8|
|  3|1010|f2-15| f3-9| f3-9|
|  4|1004|f2-17|f3-10|f3-10|
|  4|1006|f2-18|f3-11|f3-11|
|  4|1008|f2-19|f3-11|f3-11|
|  4|1010|f2-20|f3-12|f3-12|
|  5|1004|f2-22|f3-13|f3-13|
|  5|1006|f2-23|f3-14|f3-14|
|  5|1008|f2-24|f3-14|f3-14|
|  5|1010|f2-25|f3-15|f3-15|
+---+----+-----+-----+-----+

In [39]:
result2.explain(True)

== Parsed Logical Plan ==
CTE [x1, x2]
:  :- 'SubqueryAlias x1
:  :  +- 'Project [*]
:  :     +- 'Filter ('rank = 1)
:  :        +- 'SubqueryAlias __auto_generated_subquery_name
:  :           +- 'Project ['id, 'ts, 'label, 'ts_2, 'f2, 'RANK() windowspecdefinition('id, 'ts, 'ts_2 DESC NULLS LAST, unspecifiedframe$()) AS rank#1164]
:  :              +- 'Join Inner, (('a.id = 'b.id_2) AND ('a.ts >= 'b.ts_2))
:  :                 :- 'SubqueryAlias a
:  :                 :  +- 'UnresolvedRelation [fg01], [], false
:  :                 +- 'SubqueryAlias b
:  :                    +- 'UnresolvedRelation [fg02], [], false
:  +- 'SubqueryAlias x2
:     +- 'Project [*]
:        +- 'Filter ('rank = 1)
:           +- 'SubqueryAlias __auto_generated_subquery_name
:              +- 'Project ['id, 'ts, 'label, 'ts_3, 'f3, 'RANK() windowspecdefinition('id, 'ts, 'ts_3 DESC NULLS LAST, unspecifiedframe$()) AS rank#1165]
:                 +- 'Join Inner, (('a.id = 'b.id_3) AND ('a.ts >= 'b.ts_3))
:                    :- 'SubqueryAlias a
:                    :  +- 'UnresolvedRelation [fg01], [], false
:                    +- 'SubqueryAlias b
:                       +- 'UnresolvedRelation [fg03], [], false
+- 'Project ['x1.id, 'x1.ts, 'x1.label, 'x1.f2, 'x2.f3]
   +- 'Join Inner, (('x1.id = 'x2.id) AND ('x1.ts = 'x2.ts))
      :- 'UnresolvedRelation [x1], [], false
      +- 'UnresolvedRelation [x2], [], false

== Analyzed Logical Plan ==
id: int, ts: int, label: string, f2: string, f3: string
Project [id#1028, ts#1029, label#1030, f2#1052, f3#1079]
+- Join Inner, ((id#1028 = id#1170) AND (ts#1029 = ts#1171))
   :- SubqueryAlias x1
   :  +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, rank#1164]
   :     +- Filter (rank#1164 = 1)
   :        +- SubqueryAlias __auto_generated_subquery_name
   :           +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, rank#1164]
   :              +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052, rank#1164, rank#1164]
   :                 +- Window [rank(ts_2#1057) windowspecdefinition(id#1028, ts#1029, ts_2#1057 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1164], [id#1028, ts#1029], [ts_2#1057 DESC NULLS LAST]
   :                    +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052]
   :                       +- Join Inner, ((id#1028 = id_2#1056) AND (ts#1029 >= ts_2#1057))
   :                          :- SubqueryAlias a
   :                          :  +- SubqueryAlias fg01
   :                          :     +- Sort [id#1028 ASC NULLS FIRST, ts#1029 ASC NULLS FIRST], true
   :                          :        +- Relation[id#1028,ts#1029,label#1030] csv
   :                          +- SubqueryAlias b
   :                             +- SubqueryAlias fg02
   :                                +- Project [id#1050 AS id_2#1056, ts#1051 AS ts_2#1057, f2#1052]
   :                                   +- Relation[id#1050,ts#1051,f2#1052] csv
   +- SubqueryAlias x2
      +- Project [id#1170, ts#1171, label#1172, ts_3#1084, f3#1079, rank#1165]
         +- Filter (rank#1165 = 1)
            +- SubqueryAlias __auto_generated_subquery_name
               +- Project [id#1170, ts#1171, label#1172, ts_3#1084, f3#1079, rank#1165]
                  +- Project [id#1170, ts#1171, label#1172, ts_3#1084, f3#1079, rank#1165, rank#1165]
                     +- Window [rank(ts_3#1084) windowspecdefinition(id#1170, ts#1171, ts_3#1084 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1165], [id#1170, ts#1171], [ts_3#1084 DESC NULLS LAST]
                        +- Project [id#1170, ts#1171, label#1172, ts_3#1084, f3#1079]
                           +- Join Inner, ((id#1170 = id_3#1083) AND (ts#1171 >= ts_3#1084))
                              :- SubqueryAlias a
                              :  +- SubqueryAlias fg01
                              :     +- Sort [id#1170 ASC NULLS FIRST, ts#1171 ASC NULLS FIRST], true
                              :        +- Relation[id#1170,ts#1171,label#1172] csv
                              +- SubqueryAlias b
                                 +- SubqueryAlias fg03
                                    +- Project [id#1077 AS id_3#1083, ts#1078 AS ts_3#1084, f3#1079]
                                       +- Relation[id#1077,ts#1078,f3#1079] csv

== Optimized Logical Plan ==
Project [id#1028, ts#1029, label#1030, f2#1052, f3#1079]
+- Join Inner, ((id#1028 = id#1170) AND (ts#1029 = ts#1171))
   :- Project [id#1028, ts#1029, label#1030, f2#1052]
   :  +- Filter (isnotnull(rank#1164) AND (rank#1164 = 1))
   :     +- Window [rank(ts_2#1057) windowspecdefinition(id#1028, ts#1029, ts_2#1057 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1164], [id#1028, ts#1029], [ts_2#1057 DESC NULLS LAST]
   :        +- Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052]
   :           +- Join Inner, ((id#1028 = id_2#1056) AND (ts#1029 >= ts_2#1057))
   :              :- Filter (isnotnull(id#1028) AND isnotnull(ts#1029))
   :              :  +- Relation[id#1028,ts#1029,label#1030] csv
   :              +- Project [id#1050 AS id_2#1056, ts#1051 AS ts_2#1057, f2#1052]
   :                 +- Filter (isnotnull(id#1050) AND isnotnull(ts#1051))
   :                    +- Relation[id#1050,ts#1051,f2#1052] csv
   +- Project [id#1170, ts#1171, f3#1079]
      +- Filter (isnotnull(rank#1165) AND (rank#1165 = 1))
         +- Window [rank(ts_3#1084) windowspecdefinition(id#1170, ts#1171, ts_3#1084 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1165], [id#1170, ts#1171], [ts_3#1084 DESC NULLS LAST]
            +- Project [id#1170, ts#1171, ts_3#1084, f3#1079]
               +- Join Inner, ((id#1170 = id_3#1083) AND (ts#1171 >= ts_3#1084))
                  :- Project [id#1170, ts#1171]
                  :  +- Filter (isnotnull(id#1170) AND isnotnull(ts#1171))
                  :     +- Relation[id#1170,ts#1171,label#1172] csv
                  +- Project [id#1077 AS id_3#1083, ts#1078 AS ts_3#1084, f3#1079]
                     +- Filter (isnotnull(id#1077) AND isnotnull(ts#1078))
                        +- Relation[id#1077,ts#1078,f3#1079] csv

== Physical Plan ==
*(8) Project [id#1028, ts#1029, label#1030, f2#1052, f3#1079]
+- *(8) BroadcastHashJoin [id#1028, ts#1029], [id#1170, ts#1171], Inner, BuildRight, false
   :- *(8) Project [id#1028, ts#1029, label#1030, f2#1052]
   :  +- *(8) Filter (isnotnull(rank#1164) AND (rank#1164 = 1))
   :     +- Window [rank(ts_2#1057) windowspecdefinition(id#1028, ts#1029, ts_2#1057 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1164], [id#1028, ts#1029], [ts_2#1057 DESC NULLS LAST]
   :        +- *(3) Sort [id#1028 ASC NULLS FIRST, ts#1029 ASC NULLS FIRST, ts_2#1057 DESC NULLS LAST], false, 0
   :           +- Exchange hashpartitioning(id#1028, ts#1029, 200), ENSURE_REQUIREMENTS, [id=#2125]
   :              +- *(2) Project [id#1028, ts#1029, label#1030, ts_2#1057, f2#1052]
   :                 +- *(2) BroadcastHashJoin [id#1028], [id_2#1056], Inner, BuildRight, (ts#1029 >= ts_2#1057), false
   :                    :- *(2) Filter (isnotnull(id#1028) AND isnotnull(ts#1029))
   :                    :  +- FileScan csv [id#1028,ts#1029,label#1030] Batched: false, DataFilters: [isnotnull(id#1028), isnotnull(ts#1029)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int,label:string>
   :                    +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, true] as bigint)),false), [id=#2120]
   :                       +- *(1) Project [id#1050 AS id_2#1056, ts#1051 AS ts_2#1057, f2#1052]
   :                          +- *(1) Filter (isnotnull(id#1050) AND isnotnull(ts#1051))
   :                             +- FileScan csv [id#1050,ts#1051,f2#1052] Batched: false, DataFilters: [isnotnull(id#1050), isnotnull(ts#1051)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int,f2:string>
   +- BroadcastExchange HashedRelationBroadcastMode(List((shiftleft(cast(input[0, int, true] as bigint), 32) | (cast(input[1, int, true] as bigint) & 4294967295))),false), [id=#2153]
      +- *(7) Project [id#1170, ts#1171, f3#1079]
         +- *(7) Filter (isnotnull(rank#1165) AND (rank#1165 = 1))
            +- Window [rank(ts_3#1084) windowspecdefinition(id#1170, ts#1171, ts_3#1084 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1165], [id#1170, ts#1171], [ts_3#1084 DESC NULLS LAST]
               +- *(6) Sort [id#1170 ASC NULLS FIRST, ts#1171 ASC NULLS FIRST, ts_3#1084 DESC NULLS LAST], false, 0
                  +- Exchange hashpartitioning(id#1170, ts#1171, 200), ENSURE_REQUIREMENTS, [id=#2144]
                     +- *(5) Project [id#1170, ts#1171, ts_3#1084, f3#1079]
                        +- *(5) BroadcastHashJoin [id#1170], [id_3#1083], Inner, BuildLeft, (ts#1171 >= ts_3#1084), false
                           :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#2136]
                           :  +- *(4) Filter (isnotnull(id#1170) AND isnotnull(ts#1171))
                           :     +- FileScan csv [id#1170,ts#1171] Batched: false, DataFilters: [isnotnull(id#1170), isnotnull(ts#1171)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int>
                           +- *(5) Project [id#1077 AS id_3#1083, ts#1078 AS ts_3#1084, f3#1079]
                              +- *(5) Filter (isnotnull(id#1077) AND isnotnull(ts#1078))
                                 +- FileScan csv [id#1077,ts#1078,f3#1079] Batched: false, DataFilters: [isnotnull(id#1077), isnotnull(ts#1078)], Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/5-10-..., PartitionFilters: [], PushedFilters: [IsNotNull(id), IsNotNull(ts)], ReadSchema: struct<id:int,ts:int,f3:string>

## 1 mio rows

In [40]:
fg01_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("label", StringType(), True)    
])

fg01=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/100000-20-1-out.csv", header=True, schema=fg01_schema)
fg01=fg01.sort(col("id"),col("ts")).withColumn("ts", from_unixtime("ts").cast("timestamp"))
fg01.show()

+---+-------------------+-----+
| id|                 ts|label|
+---+-------------------+-----+
|  1|1970-01-01 00:17:00|   f1|
|  1|1970-01-01 00:17:20|   f1|
|  1|1970-01-01 00:17:40|   f1|
|  1|1970-01-01 00:18:00|   f1|
|  1|1970-01-01 00:18:20|   f1|
|  1|1970-01-01 00:18:40|   f1|
|  1|1970-01-01 00:19:00|   f1|
|  1|1970-01-01 00:19:20|   f1|
|  1|1970-01-01 00:19:40|   f1|
|  1|1970-01-01 00:20:00|   f1|
|  1|1970-01-01 00:20:20|   f1|
|  1|1970-01-01 00:20:40|   f1|
|  1|1970-01-01 00:21:00|   f1|
|  1|1970-01-01 00:21:20|   f1|
|  1|1970-01-01 00:21:40|   f1|
|  1|1970-01-01 00:22:00|   f1|
|  1|1970-01-01 00:22:20|   f1|
|  1|1970-01-01 00:22:40|   f1|
|  1|1970-01-01 00:23:00|   f1|
|  1|1970-01-01 00:23:20|   f1|
+---+-------------------+-----+
only showing top 20 rows

In [41]:
fg02_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("f2", StringType(), True)    
])

fg02=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/100000-20-2-out.csv", header=True, schema=fg02_schema)
fg02=fg02.select([col("id").alias("id_2"), col("ts").alias("ts_2"), col("f2")]).withColumn("ts_2", from_unixtime("ts_2").cast("timestamp"))
fg02.show()

+----+-------------------+---+
|id_2|               ts_2| f2|
+----+-------------------+---+
|   1|1970-01-01 00:17:00| f2|
|   1|1970-01-01 00:17:20| f2|
|   1|1970-01-01 00:17:40| f2|
|   1|1970-01-01 00:18:00| f2|
|   1|1970-01-01 00:18:20| f2|
|   1|1970-01-01 00:18:40| f2|
|   1|1970-01-01 00:19:00| f2|
|   1|1970-01-01 00:19:20| f2|
|   1|1970-01-01 00:19:40| f2|
|   1|1970-01-01 00:20:00| f2|
|   1|1970-01-01 00:20:20| f2|
|   1|1970-01-01 00:20:40| f2|
|   1|1970-01-01 00:21:00| f2|
|   1|1970-01-01 00:21:20| f2|
|   1|1970-01-01 00:21:40| f2|
|   1|1970-01-01 00:22:00| f2|
|   1|1970-01-01 00:22:20| f2|
|   1|1970-01-01 00:22:40| f2|
|   1|1970-01-01 00:23:00| f2|
|   1|1970-01-01 00:23:20| f2|
+----+-------------------+---+
only showing top 20 rows

In [42]:
fg03_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("f3", StringType(), True)    
])

fg03=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/100000-20-2-out.csv", header=True, schema=fg03_schema)
fg03=fg03.select([col("id").alias("id_3"), col("ts").alias("ts_3"), col("f3")]).withColumn("ts_3", from_unixtime("ts_3").cast("timestamp"))
fg03.show()

+----+-------------------+---+
|id_3|               ts_3| f3|
+----+-------------------+---+
|   1|1970-01-01 00:17:00| f2|
|   1|1970-01-01 00:17:20| f2|
|   1|1970-01-01 00:17:40| f2|
|   1|1970-01-01 00:18:00| f2|
|   1|1970-01-01 00:18:20| f2|
|   1|1970-01-01 00:18:40| f2|
|   1|1970-01-01 00:19:00| f2|
|   1|1970-01-01 00:19:20| f2|
|   1|1970-01-01 00:19:40| f2|
|   1|1970-01-01 00:20:00| f2|
|   1|1970-01-01 00:20:20| f2|
|   1|1970-01-01 00:20:40| f2|
|   1|1970-01-01 00:21:00| f2|
|   1|1970-01-01 00:21:20| f2|
|   1|1970-01-01 00:21:40| f2|
|   1|1970-01-01 00:22:00| f2|
|   1|1970-01-01 00:22:20| f2|
|   1|1970-01-01 00:22:40| f2|
|   1|1970-01-01 00:23:00| f2|
|   1|1970-01-01 00:23:20| f2|
+----+-------------------+---+
only showing top 20 rows

In [43]:
fg01.registerTempTable("fg01")
fg02.registerTempTable("fg02")
fg03.registerTempTable("fg03")

In [44]:
result = spark.sql("with x as ("
                       "SELECT id, ts, label, ts_2, f2, ts_3, f3, ROW_NUMBER() OVER (PARTITION BY id, ts ORDER BY (ts_2, ts_3) DESC) AS rank "
                       "FROM fg01 a "
                       "join fg02 b "
                       "on a.id = b.id_2 "
                       "and a.ts >= b.ts_2 "
                       "join fg03 c "
                       "on a.id = c.id_3 "
                       "and a.ts >= c.ts_3) "
                   "select * from x where rank = 1");

In [45]:
result.show(10)

+---+-------------------+-----+-------------------+---+-------------------+---+----+
| id|                 ts|label|               ts_2| f2|               ts_3| f3|rank|
+---+-------------------+-----+-------------------+---+-------------------+---+----+
|148|1970-01-01 00:17:00|   f1|1970-01-01 00:17:00| f2|1970-01-01 00:17:00| f2|   1|
|148|1970-01-01 00:17:20|   f1|1970-01-01 00:17:20| f2|1970-01-01 00:17:20| f2|   1|
|148|1970-01-01 00:17:40|   f1|1970-01-01 00:17:40| f2|1970-01-01 00:17:40| f2|   1|
|148|1970-01-01 00:18:00|   f1|1970-01-01 00:18:00| f2|1970-01-01 00:18:00| f2|   1|
|148|1970-01-01 00:18:20|   f1|1970-01-01 00:18:20| f2|1970-01-01 00:18:20| f2|   1|
|148|1970-01-01 00:18:40|   f1|1970-01-01 00:18:40| f2|1970-01-01 00:18:40| f2|   1|
|148|1970-01-01 00:19:00|   f1|1970-01-01 00:19:00| f2|1970-01-01 00:19:00| f2|   1|
|148|1970-01-01 00:19:20|   f1|1970-01-01 00:19:20| f2|1970-01-01 00:19:20| f2|   1|
|148|1970-01-01 00:19:40|   f1|1970-01-01 00:19:40| f2|1970-01-01 00:19:40| f2|   1|
|148|1970-01-01 00:20:00|   f1|1970-01-01 00:20:00| f2|1970-01-01 00:20:00| f2|   1|
+---+-------------------+-----+-------------------+---+-------------------+---+----+
only showing top 10 rows

In [46]:
result.explain(True)

== Parsed Logical Plan ==
CTE [x]
:  +- 'SubqueryAlias x
:     +- 'Project ['id, 'ts, 'label, 'ts_2, 'f2, 'ts_3, 'f3, 'ROW_NUMBER() windowspecdefinition('id, 'ts, named_struct(NamePlaceholder, 'ts_2, NamePlaceholder, 'ts_3) DESC NULLS LAST, unspecifiedframe$()) AS rank#1325]
:        +- 'Join Inner, (('a.id = 'c.id_3) AND ('a.ts >= 'c.ts_3))
:           :- 'Join Inner, (('a.id = 'b.id_2) AND ('a.ts >= 'b.ts_2))
:           :  :- 'SubqueryAlias a
:           :  :  +- 'UnresolvedRelation [fg01], [], false
:           :  +- 'SubqueryAlias b
:           :     +- 'UnresolvedRelation [fg02], [], false
:           +- 'SubqueryAlias c
:              +- 'UnresolvedRelation [fg03], [], false
+- 'Project [*]
   +- 'Filter ('rank = 1)
      +- 'UnresolvedRelation [x], [], false

== Analyzed Logical Plan ==
id: int, ts: timestamp, label: string, ts_2: timestamp, f2: string, ts_3: timestamp, f3: string, rank: int
Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1325]
+- Filter (rank#1325 = 1)
   +- SubqueryAlias x
      +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1325]
         +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, _w0#1327, rank#1325, rank#1325]
            +- Window [row_number() windowspecdefinition(id#1228, ts#1234, _w0#1327 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1325], [id#1228, ts#1234], [_w0#1327 DESC NULLS LAST]
               +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, named_struct(ts_2, ts_2#1265, ts_3, ts_3#1296) AS _w0#1327]
                  +- Join Inner, ((id#1228 = id_3#1291) AND (ts#1234 >= ts_3#1296))
                     :- Join Inner, ((id#1228 = id_2#1260) AND (ts#1234 >= ts_2#1265))
                     :  :- SubqueryAlias a
                     :  :  +- SubqueryAlias fg01
                     :  :     +- Project [id#1228, cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1234, label#1230]
                     :  :        +- Sort [id#1228 ASC NULLS FIRST, ts#1229 ASC NULLS FIRST], true
                     :  :           +- Relation[id#1228,ts#1229,label#1230] csv
                     :  +- SubqueryAlias b
                     :     +- SubqueryAlias fg02
                     :        +- Project [id_2#1260, cast(from_unixtime(cast(ts_2#1261 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_2#1265, f2#1256]
                     :           +- Project [id#1254 AS id_2#1260, ts#1255 AS ts_2#1261, f2#1256]
                     :              +- Relation[id#1254,ts#1255,f2#1256] csv
                     +- SubqueryAlias c
                        +- SubqueryAlias fg03
                           +- Project [id_3#1291, cast(from_unixtime(cast(ts_3#1292 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_3#1296, f3#1287]
                              +- Project [id#1285 AS id_3#1291, ts#1286 AS ts_3#1292, f3#1287]
                                 +- Relation[id#1285,ts#1286,f3#1287] csv

== Optimized Logical Plan ==
Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1325]
+- Filter (isnotnull(rank#1325) AND (rank#1325 = 1))
   +- Window [row_number() windowspecdefinition(id#1228, ts#1234, _w0#1327 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1325], [id#1228, ts#1234], [_w0#1327 DESC NULLS LAST]
      +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, named_struct(ts_2, ts_2#1265, ts_3, ts_3#1296) AS _w0#1327]
         +- Join Inner, ((id#1228 = id_3#1291) AND (ts#1234 >= ts_3#1296))
            :- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
            :  +- Join Inner, ((id#1228 = id_2#1260) AND (ts#1234 >= ts_2#1265))
            :     :- Project [id#1228, cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1234, label#1230]
            :     :  +- Filter (isnotnull(id#1228) AND isnotnull(cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
            :     :     +- Relation[id#1228,ts#1229,label#1230] csv
            :     +- Project [id#1254 AS id_2#1260, cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_2#1265, f2#1256]
            :        +- Filter (isnotnull(id#1254) AND isnotnull(cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
            :           +- Relation[id#1254,ts#1255,f2#1256] csv
            +- Project [id#1285 AS id_3#1291, cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_3#1296, f3#1287]
               +- Filter (isnotnull(id#1285) AND isnotnull(cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
                  +- Relation[id#1285,ts#1286,f3#1287] csv

== Physical Plan ==
*(9) Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1325]
+- *(9) Filter (isnotnull(rank#1325) AND (rank#1325 = 1))
   +- Window [row_number() windowspecdefinition(id#1228, ts#1234, _w0#1327 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1325], [id#1228, ts#1234], [_w0#1327 DESC NULLS LAST]
      +- *(8) Sort [id#1228 ASC NULLS FIRST, ts#1234 ASC NULLS FIRST, _w0#1327 DESC NULLS LAST], false, 0
         +- *(8) Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, named_struct(ts_2, ts_2#1265, ts_3, ts_3#1296) AS _w0#1327]
            +- *(8) SortMergeJoin [id#1228], [id_3#1291], Inner, (ts#1234 >= ts_3#1296)
               :- *(5) Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
               :  +- *(5) SortMergeJoin [id#1228], [id_2#1260], Inner, (ts#1234 >= ts_2#1265)
               :     :- *(2) Sort [id#1228 ASC NULLS FIRST], false, 0
               :     :  +- Exchange hashpartitioning(id#1228, 200), ENSURE_REQUIREMENTS, [id=#2384]
               :     :     +- *(1) Project [id#1228, cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1234, label#1230]
               :     :        +- *(1) Filter (isnotnull(id#1228) AND isnotnull(cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
               :     :           +- FileScan csv [id#1228,ts#1229,label#1230] Batched: false, DataFilters: [isnotnull(id#1228), isnotnull(cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int,label:string>
               :     +- *(4) Sort [id_2#1260 ASC NULLS FIRST], false, 0
               :        +- Exchange hashpartitioning(id_2#1260, 200), ENSURE_REQUIREMENTS, [id=#2393]
               :           +- *(3) Project [id#1254 AS id_2#1260, cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_2#1265, f2#1256]
               :              +- *(3) Filter (isnotnull(id#1254) AND isnotnull(cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
               :                 +- FileScan csv [id#1254,ts#1255,f2#1256] Batched: false, DataFilters: [isnotnull(id#1254), isnotnull(cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int,f2:string>
               +- *(7) Sort [id_3#1291 ASC NULLS FIRST], false, 0
                  +- Exchange hashpartitioning(id_3#1291, 200), ENSURE_REQUIREMENTS, [id=#2406]
                     +- *(6) Project [id#1285 AS id_3#1291, cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_3#1296, f3#1287]
                        +- *(6) Filter (isnotnull(id#1285) AND isnotnull(cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
                           +- FileScan csv [id#1285,ts#1286,f3#1287] Batched: false, DataFilters: [isnotnull(id#1285), isnotnull(cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int,f3:string>

In [47]:
result2 = spark.sql("with "
                   "x1 as ("
                       "select * from ("
                           "SELECT id, ts, label, ts_2, f2, RANK() OVER (PARTITION BY id, ts ORDER BY ts_2 DESC) AS rank "
                           "FROM fg01 a "
                           "join fg02 b "
                           "on a.id = b.id_2 "
                           "and a.ts >= b.ts_2) "
                       "where rank = 1), "
                   "x2 as ("
                       "select * from ("
                           "SELECT id, ts, label, ts_3, f3, RANK() OVER (PARTITION BY id, ts ORDER BY ts_3 DESC) AS rank "
                           "FROM fg01 a "
                           "join fg03 b "
                           "on a.id = b.id_3 "
                           "and a.ts >= b.ts_3) "
                       "where rank = 1) "
                   "select c.id, c.ts, c.label, c.ts_2, c.f2, d.ts_3, d.f3, d.rank from x1 c "
                   "join x2 d "
                   "on c.id = d.id "
                   "and c.ts = d.ts");

In [48]:
result2.explain(True)

== Parsed Logical Plan ==
CTE [x1, x2]
:  :- 'SubqueryAlias x1
:  :  +- 'Project [*]
:  :     +- 'Filter ('rank = 1)
:  :        +- 'SubqueryAlias __auto_generated_subquery_name
:  :           +- 'Project ['id, 'ts, 'label, 'ts_2, 'f2, 'RANK() windowspecdefinition('id, 'ts, 'ts_2 DESC NULLS LAST, unspecifiedframe$()) AS rank#1378]
:  :              +- 'Join Inner, (('a.id = 'b.id_2) AND ('a.ts >= 'b.ts_2))
:  :                 :- 'SubqueryAlias a
:  :                 :  +- 'UnresolvedRelation [fg01], [], false
:  :                 +- 'SubqueryAlias b
:  :                    +- 'UnresolvedRelation [fg02], [], false
:  +- 'SubqueryAlias x2
:     +- 'Project [*]
:        +- 'Filter ('rank = 1)
:           +- 'SubqueryAlias __auto_generated_subquery_name
:              +- 'Project ['id, 'ts, 'label, 'ts_3, 'f3, 'RANK() windowspecdefinition('id, 'ts, 'ts_3 DESC NULLS LAST, unspecifiedframe$()) AS rank#1379]
:                 +- 'Join Inner, (('a.id = 'b.id_3) AND ('a.ts >= 'b.ts_3))
:                    :- 'SubqueryAlias a
:                    :  +- 'UnresolvedRelation [fg01], [], false
:                    +- 'SubqueryAlias b
:                       +- 'UnresolvedRelation [fg03], [], false
+- 'Project ['c.id, 'c.ts, 'c.label, 'c.ts_2, 'c.f2, 'd.ts_3, 'd.f3, 'd.rank]
   +- 'Join Inner, (('c.id = 'd.id) AND ('c.ts = 'd.ts))
      :- 'SubqueryAlias c
      :  +- 'UnresolvedRelation [x1], [], false
      +- 'SubqueryAlias d
         +- 'UnresolvedRelation [x2], [], false

== Analyzed Logical Plan ==
id: int, ts: timestamp, label: string, ts_2: timestamp, f2: string, ts_3: timestamp, f3: string, rank: int
Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1379]
+- Join Inner, ((id#1228 = id#1391) AND (ts#1234 = ts#1384))
   :- SubqueryAlias c
   :  +- SubqueryAlias x1
   :     +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, rank#1378]
   :        +- Filter (rank#1378 = 1)
   :           +- SubqueryAlias __auto_generated_subquery_name
   :              +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, rank#1378]
   :                 +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, rank#1378, rank#1378]
   :                    +- Window [rank(ts_2#1265) windowspecdefinition(id#1228, ts#1234, ts_2#1265 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1378], [id#1228, ts#1234], [ts_2#1265 DESC NULLS LAST]
   :                       +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
   :                          +- Join Inner, ((id#1228 = id_2#1260) AND (ts#1234 >= ts_2#1265))
   :                             :- SubqueryAlias a
   :                             :  +- SubqueryAlias fg01
   :                             :     +- Project [id#1228, cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1234, label#1230]
   :                             :        +- Sort [id#1228 ASC NULLS FIRST, ts#1229 ASC NULLS FIRST], true
   :                             :           +- Relation[id#1228,ts#1229,label#1230] csv
   :                             +- SubqueryAlias b
   :                                +- SubqueryAlias fg02
   :                                   +- Project [id_2#1260, cast(from_unixtime(cast(ts_2#1261 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_2#1265, f2#1256]
   :                                      +- Project [id#1254 AS id_2#1260, ts#1255 AS ts_2#1261, f2#1256]
   :                                         +- Relation[id#1254,ts#1255,f2#1256] csv
   +- SubqueryAlias d
      +- SubqueryAlias x2
         +- Project [id#1391, ts#1384, label#1393, ts_3#1296, f3#1287, rank#1379]
            +- Filter (rank#1379 = 1)
               +- SubqueryAlias __auto_generated_subquery_name
                  +- Project [id#1391, ts#1384, label#1393, ts_3#1296, f3#1287, rank#1379]
                     +- Project [id#1391, ts#1384, label#1393, ts_3#1296, f3#1287, rank#1379, rank#1379]
                        +- Window [rank(ts_3#1296) windowspecdefinition(id#1391, ts#1384, ts_3#1296 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1379], [id#1391, ts#1384], [ts_3#1296 DESC NULLS LAST]
                           +- Project [id#1391, ts#1384, label#1393, ts_3#1296, f3#1287]
                              +- Join Inner, ((id#1391 = id_3#1291) AND (ts#1384 >= ts_3#1296))
                                 :- SubqueryAlias a
                                 :  +- SubqueryAlias fg01
                                 :     +- Project [id#1391, cast(from_unixtime(cast(ts#1392 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1384, label#1393]
                                 :        +- Sort [id#1391 ASC NULLS FIRST, ts#1392 ASC NULLS FIRST], true
                                 :           +- Relation[id#1391,ts#1392,label#1393] csv
                                 +- SubqueryAlias b
                                    +- SubqueryAlias fg03
                                       +- Project [id_3#1291, cast(from_unixtime(cast(ts_3#1292 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_3#1296, f3#1287]
                                          +- Project [id#1285 AS id_3#1291, ts#1286 AS ts_3#1292, f3#1287]
                                             +- Relation[id#1285,ts#1286,f3#1287] csv

== Optimized Logical Plan ==
Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1379]
+- Join Inner, ((id#1228 = id#1391) AND (ts#1234 = ts#1384))
   :- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
   :  +- Filter (isnotnull(rank#1378) AND (rank#1378 = 1))
   :     +- Window [rank(ts_2#1265) windowspecdefinition(id#1228, ts#1234, ts_2#1265 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1378], [id#1228, ts#1234], [ts_2#1265 DESC NULLS LAST]
   :        +- Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
   :           +- Join Inner, ((id#1228 = id_2#1260) AND (ts#1234 >= ts_2#1265))
   :              :- Project [id#1228, cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1234, label#1230]
   :              :  +- Filter (isnotnull(id#1228) AND isnotnull(cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
   :              :     +- Relation[id#1228,ts#1229,label#1230] csv
   :              +- Project [id#1254 AS id_2#1260, cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_2#1265, f2#1256]
   :                 +- Filter (isnotnull(id#1254) AND isnotnull(cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
   :                    +- Relation[id#1254,ts#1255,f2#1256] csv
   +- Filter (isnotnull(rank#1379) AND (rank#1379 = 1))
      +- Window [rank(ts_3#1296) windowspecdefinition(id#1391, ts#1384, ts_3#1296 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1379], [id#1391, ts#1384], [ts_3#1296 DESC NULLS LAST]
         +- Project [id#1391, ts#1384, ts_3#1296, f3#1287]
            +- Join Inner, ((id#1391 = id_3#1291) AND (ts#1384 >= ts_3#1296))
               :- Project [id#1391, cast(from_unixtime(cast(ts#1392 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1384]
               :  +- Filter (isnotnull(id#1391) AND isnotnull(cast(from_unixtime(cast(ts#1392 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
               :     +- Relation[id#1391,ts#1392,label#1393] csv
               +- Project [id#1285 AS id_3#1291, cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_3#1296, f3#1287]
                  +- Filter (isnotnull(id#1285) AND isnotnull(cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
                     +- Relation[id#1285,ts#1286,f3#1287] csv

== Physical Plan ==
*(15) Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256, ts_3#1296, f3#1287, rank#1379]
+- *(15) SortMergeJoin [id#1228, ts#1234], [id#1391, ts#1384], Inner
   :- *(7) Sort [id#1228 ASC NULLS FIRST, ts#1234 ASC NULLS FIRST], false, 0
   :  +- Exchange hashpartitioning(id#1228, ts#1234, 200), ENSURE_REQUIREMENTS, [id=#2553]
   :     +- *(6) Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
   :        +- *(6) Filter (isnotnull(rank#1378) AND (rank#1378 = 1))
   :           +- Window [rank(ts_2#1265) windowspecdefinition(id#1228, ts#1234, ts_2#1265 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1378], [id#1228, ts#1234], [ts_2#1265 DESC NULLS LAST]
   :              +- *(5) Sort [id#1228 ASC NULLS FIRST, ts#1234 ASC NULLS FIRST, ts_2#1265 DESC NULLS LAST], false, 0
   :                 +- *(5) Project [id#1228, ts#1234, label#1230, ts_2#1265, f2#1256]
   :                    +- *(5) SortMergeJoin [id#1228], [id_2#1260], Inner, (ts#1234 >= ts_2#1265)
   :                       :- *(2) Sort [id#1228 ASC NULLS FIRST], false, 0
   :                       :  +- Exchange hashpartitioning(id#1228, 200), ENSURE_REQUIREMENTS, [id=#2530]
   :                       :     +- *(1) Project [id#1228, cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1234, label#1230]
   :                       :        +- *(1) Filter (isnotnull(id#1228) AND isnotnull(cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
   :                       :           +- FileScan csv [id#1228,ts#1229,label#1230] Batched: false, DataFilters: [isnotnull(id#1228), isnotnull(cast(from_unixtime(cast(ts#1229 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int,label:string>
   :                       +- *(4) Sort [id_2#1260 ASC NULLS FIRST], false, 0
   :                          +- Exchange hashpartitioning(id_2#1260, 200), ENSURE_REQUIREMENTS, [id=#2539]
   :                             +- *(3) Project [id#1254 AS id_2#1260, cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_2#1265, f2#1256]
   :                                +- *(3) Filter (isnotnull(id#1254) AND isnotnull(cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
   :                                   +- FileScan csv [id#1254,ts#1255,f2#1256] Batched: false, DataFilters: [isnotnull(id#1254), isnotnull(cast(from_unixtime(cast(ts#1255 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int,f2:string>
   +- *(14) Sort [id#1391 ASC NULLS FIRST, ts#1384 ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(id#1391, ts#1384, 200), ENSURE_REQUIREMENTS, [id=#2584]
         +- *(13) Filter (isnotnull(rank#1379) AND (rank#1379 = 1))
            +- Window [rank(ts_3#1296) windowspecdefinition(id#1391, ts#1384, ts_3#1296 DESC NULLS LAST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS rank#1379], [id#1391, ts#1384], [ts_3#1296 DESC NULLS LAST]
               +- *(12) Sort [id#1391 ASC NULLS FIRST, ts#1384 ASC NULLS FIRST, ts_3#1296 DESC NULLS LAST], false, 0
                  +- *(12) Project [id#1391, ts#1384, ts_3#1296, f3#1287]
                     +- *(12) SortMergeJoin [id#1391], [id_3#1291], Inner, (ts#1384 >= ts_3#1296)
                        :- *(9) Sort [id#1391 ASC NULLS FIRST], false, 0
                        :  +- Exchange hashpartitioning(id#1391, 200), ENSURE_REQUIREMENTS, [id=#2562]
                        :     +- *(8) Project [id#1391, cast(from_unixtime(cast(ts#1392 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts#1384]
                        :        +- *(8) Filter (isnotnull(id#1391) AND isnotnull(cast(from_unixtime(cast(ts#1392 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
                        :           +- FileScan csv [id#1391,ts#1392] Batched: false, DataFilters: [isnotnull(id#1391), isnotnull(cast(from_unixtime(cast(ts#1392 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int>
                        +- *(11) Sort [id_3#1291 ASC NULLS FIRST], false, 0
                           +- Exchange hashpartitioning(id_3#1291, 200), ENSURE_REQUIREMENTS, [id=#2571]
                              +- *(10) Project [id#1285 AS id_3#1291, cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp) AS ts_3#1296, f3#1287]
                                 +- *(10) Filter (isnotnull(id#1285) AND isnotnull(cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, Some(GMT)) as timestamp)))
                                    +- FileScan csv [id#1285,ts#1286,f3#1287] Batched: false, DataFilters: [isnotnull(id#1285), isnotnull(cast(from_unixtime(cast(ts#1286 as bigint), yyyy-MM-dd HH:mm:ss, S..., Format: CSV, Location: InMemoryFileIndex[hdfs://rpc.namenode.service.consul:8020/Projects/demo_fs_meb10000/Jupyter/10000..., PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:int,ts:int,f3:string>

In [49]:
result.write.format("parquet").save("hdfs:///Projects/demo_fs_meb10000/Resources/option1", mode="overwrite")

In [50]:
result2.write.format("parquet").save("hdfs:///Projects/demo_fs_meb10000/Resources/option2", mode="overwrite")

# Real Feature Group PIT Join

In [2]:
from hops import hdfs
import hsfs
conn = hsfs.connection()
fs = conn.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

In [3]:
fg01_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("label", StringType(), True)    
])

fg01=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/5-10-2-out.csv", header=True, schema=fg01_schema)
#fg01=fg01.sort(col("id"),col("ts")).withColumn("ts", from_unixtime("ts").cast("timestamp"))
fg01=fg01.sort(col("id"),col("ts")).withColumn("ts", col("ts").cast(LongType())).withColumn("id2", col("id") + 10000)

In [4]:
fg02_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("f2", StringType(), True)    
])

fg02=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/5-10-3-out.csv", header=True, schema=fg02_schema)
#fg02=fg02.select([col("id").alias("id_2"), col("ts").alias("ts_2"), col("f2")]).withColumn("ts_2", from_unixtime("ts_2").cast("timestamp"))
fg02=fg02.select([col("id"), col("ts"), col("f2")]).withColumn("ts2", col("ts").cast(LongType())).select([col("id"), col("ts2"), col("f2")])

In [5]:
fg02.printSchema()

root
 |-- id: integer (nullable = true)
 |-- ts2: long (nullable = true)
 |-- f2: string (nullable = true)

In [6]:
fg03_schema = StructType([
  StructField("id", IntegerType(), True),
  StructField("ts", IntegerType(), True),
  StructField("f3", StringType(), True)    
])

fg03=spark.read.csv("hdfs:///Projects/" + hdfs.project_name() + "/Jupyter/5-10-3-out.csv", header=True, schema=fg03_schema)
#fg03=fg03.select([col("id").alias("id_3"), col("ts").alias("ts_3"), col("f3")]).withColumn("ts_3", from_unixtime("ts_3").cast("timestamp"))
fg03=fg03.select([col("id"), col("ts"), col("f3")]).withColumn("id2", col("id") + 10000).withColumn("ts", col("ts").cast(LongType()))

In [13]:
fg1 = fs.create_feature_group("fg1", statistics_config=False, online_enabled=True, primary_key=["id"], event_time="ts")

fg1.save(fg01)

<hsfs.feature_group.FeatureGroup object at 0x7f680309d390>
VersionWarning: No version provided for creating feature group `fg1`, incremented version to `2`.

In [89]:
fg = fs.get_feature_group("players_features")

VersionWarning: No version provided for getting feature group `players_features`, defaulting to `1`.

In [92]:
query = fg1.select_all().join(fg.select_all(), left_on=["id"], right_on=["team_id"])

In [94]:
print(query.to_string())

SELECT `fg1`.`id`, `fg1`.`label`, `fg1`.`ts`, `fg0`.`team_id`, `fg0`.`average_player_rating`, `fg0`.`average_player_age`, `fg0`.`sum_player_rating`, `fg0`.`sum_player_worth`, `fg0`.`average_player_worth`, `fg0`.`sum_player_age`
FROM `fg1` `fg1`
INNER JOIN `demo_fs_meb10000_featurestore`.`players_features_1` `fg0` ON `fg1`.`id` = `fg0`.`team_id`

In [88]:
fg2 = fs.create_feature_group("fg2", statistics_config=False, online_enabled=True, primary_key=["id"], event_time="ts2")

fg2.save(fg02)

<hsfs.feature_group.FeatureGroup object at 0x7f3cc68b53d0>
VersionWarning: No version provided for creating feature group `fg2`, incremented version to `1`.

In [105]:
fg3 = fs.create_feature_group("fg3", statistics_config=False, online_enabled=True, primary_key=["id", "id2"], event_time="ts")

fg3.save(fg03)

<hsfs.feature_group.FeatureGroup object at 0x7f662d2f3c90>
VersionWarning: No version provided for creating feature group `fg3`, incremented version to `1`.

In [8]:
fg1 = fs.get_feature_group("fg1")
fg2 = fs.get_feature_group("fg2")
fg3 = fs.get_feature_group("fg3")

VersionWarning: No version provided for getting feature group `fg1`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg2`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg3`, defaulting to `1`.

In [10]:
query = fg1.select_all().join(fg2.select_all(), on="id").join(fg3.select_all(), left_on=["id", "id2"], right_on=["id", "id2"])

In [11]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg0` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg1`.`f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`id2`, `x0`.`label`, `x0`.`ts`, `x0`.`id`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [93]:
print(query.to_string(online=True))

SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, `fg1`.`f3`
FROM `demo_fs_meb10000`.`fg1_1` `fg2`
INNER JOIN `demo_fs_meb10000`.`fg2_1` `fg0` ON `fg2`.`id` = `fg0`.`id`
INNER JOIN `demo_fs_meb10000`.`fg3_1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2`

In [94]:
query.read(online=True).sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10004|f2-20|1010|  4|f3-12|f3-12|
|10001| f2-1|1002|  1| f3-3| f3-3|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10005|f2-24|1008|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [95]:
query.read().sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10001| f2-2|1004|  1| f3-1| f3-1|
|10001| f2-3|1006|  1| f3-2| f3-2|
|10001| f2-4|1008|  1| f3-2| f3-2|
|10001| f2-5|1010|  1| f3-3| f3-3|
|10002| f2-7|1004|  2| f3-4| f3-4|
|10002| f2-8|1006|  2| f3-5| f3-5|
|10002| f2-9|1008|  2| f3-5| f3-5|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-12|1004|  3| f3-7| f3-7|
|10003|f2-13|1006|  3| f3-8| f3-8|
|10003|f2-14|1008|  3| f3-8| f3-8|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10004|f2-17|1004|  4|f3-10|f3-10|
|10004|f2-18|1006|  4|f3-11|f3-11|
|10004|f2-19|1008|  4|f3-11|f3-11|
|10004|f2-20|1010|  4|f3-12|f3-12|
|10005|f2-22|1004|  5|f3-13|f3-13|
|10005|f2-23|1006|  5|f3-14|f3-14|
|10005|f2-24|1008|  5|f3-14|f3-14|
|10005|f2-25|1010|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [96]:
query = fg1.select_all().join(fg2.select_all(), on="id")

In [97]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg1`.`id2`, `fg1`.`label`, `fg1`.`ts`, `fg1`.`id`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg1`.`id`, `fg1`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg1` `fg1`
INNER JOIN `fg0` `fg0` ON `fg1`.`id` = `fg0`.`id` AND `fg1`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1) (SELECT `x0`.`id2`, `x0`.`label`, `x0`.`ts`, `x0`.`id`, `x0`.`f2`
FROM x0)

In [98]:
print(query.to_string(online=True))

SELECT `fg1`.`id2`, `fg1`.`label`, `fg1`.`ts`, `fg1`.`id`, `fg0`.`f2`
FROM `demo_fs_meb10000`.`fg1_1` `fg1`
INNER JOIN `demo_fs_meb10000`.`fg2_1` `fg0` ON `fg1`.`id` = `fg0`.`id`

In [101]:
query.read(online=True).sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+
|  id2|label|  ts| id|   f2|
+-----+-----+----+---+-----+
|10001| f2-1|1002|  1| f3-3|
|10002|f2-10|1010|  2| f3-6|
|10003|f2-15|1010|  3| f3-9|
|10004|f2-20|1010|  4|f3-12|
|10005|f2-24|1008|  5|f3-15|
+-----+-----+----+---+-----+

In [102]:
query.read().sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+
|  id2|label|  ts| id|   f2|
+-----+-----+----+---+-----+
|10001| f2-2|1004|  1| f3-1|
|10001| f2-3|1006|  1| f3-2|
|10001| f2-4|1008|  1| f3-2|
|10001| f2-5|1010|  1| f3-3|
|10002| f2-7|1004|  2| f3-4|
|10002| f2-8|1006|  2| f3-5|
|10002| f2-9|1008|  2| f3-5|
|10002|f2-10|1010|  2| f3-6|
|10003|f2-12|1004|  3| f3-7|
|10003|f2-13|1006|  3| f3-8|
|10003|f2-14|1008|  3| f3-8|
|10003|f2-15|1010|  3| f3-9|
|10004|f2-17|1004|  4|f3-10|
|10004|f2-18|1006|  4|f3-11|
|10004|f2-19|1008|  4|f3-11|
|10004|f2-20|1010|  4|f3-12|
|10005|f2-22|1004|  5|f3-13|
|10005|f2-23|1006|  5|f3-14|
|10005|f2-24|1008|  5|f3-14|
|10005|f2-25|1010|  5|f3-15|
+-----+-----+----+---+-----+

In [18]:
fg1_nonhudi = fs.create_feature_group("fg1_nonhudi", statistics_config=False, online_enabled=True, primary_key=["id"], event_time="ts", time_travel_format=None)

fg1_nonhudi.save(fg01)

<hsfs.feature_group.FeatureGroup object at 0x7f3cc68b8490>
VersionWarning: No version provided for creating feature group `fg1_nonhudi`, incremented version to `1`.

In [19]:
fg2_nonhudi = fs.create_feature_group("fg2_nonhudi", statistics_config=False, online_enabled=True, primary_key=["id"], event_time="ts2", time_travel_format=None)

fg2_nonhudi.save(fg02)

<hsfs.feature_group.FeatureGroup object at 0x7f3cc68bd090>
VersionWarning: No version provided for creating feature group `fg2_nonhudi`, incremented version to `1`.

In [20]:
fg3_nonhudi = fs.create_feature_group("fg3_nonhudi", statistics_config=False, online_enabled=True, primary_key=["id", "id2"], event_time="ts", time_travel_format=None)

fg3_nonhudi.save(fg03)

<hsfs.feature_group.FeatureGroup object at 0x7f3cc68f2910>
VersionWarning: No version provided for creating feature group `fg3_nonhudi`, incremented version to `1`.

In [8]:
fg1_nonhudi = fs.get_feature_group("fg1_nonhudi")
fg2_nonhudi = fs.get_feature_group("fg2_nonhudi")
fg3_nonhudi = fs.get_feature_group("fg3_nonhudi")

VersionWarning: No version provided for getting feature group `fg1_nonhudi`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg2_nonhudi`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg3_nonhudi`, defaulting to `1`.

In [104]:
query = fg1_nonhudi.select_all().join(fg2_nonhudi.select_all(), on="id").join(fg3_nonhudi.select_all(), left_on=["id", "id2"], right_on=["id", "id2"])

In [105]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `demo_fs_meb10000_featurestore`.`fg1_nonhudi_1` `fg2`
INNER JOIN `demo_fs_meb10000_featurestore`.`fg2_nonhudi_1` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg1`.`f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `demo_fs_meb10000_featurestore`.`fg1_nonhudi_1` `fg2`
INNER JOIN `demo_fs_meb10000_featurestore`.`fg3_nonhudi_1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`id2`, `x0`.`label`, `x0`.`ts`, `x0`.`id`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [106]:
print(query.to_string(online=True))

SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, `fg1`.`f3`
FROM `demo_fs_meb10000`.`fg1_nonhudi_1` `fg2`
INNER JOIN `demo_fs_meb10000`.`fg2_nonhudi_1` `fg0` ON `fg2`.`id` = `fg0`.`id`
INNER JOIN `demo_fs_meb10000`.`fg3_nonhudi_1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2`

In [107]:
query.read().sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10001| f2-2|1004|  1| f3-1| f3-1|
|10001| f2-3|1006|  1| f3-2| f3-2|
|10001| f2-4|1008|  1| f3-2| f3-2|
|10001| f2-5|1010|  1| f3-3| f3-3|
|10002| f2-7|1004|  2| f3-4| f3-4|
|10002| f2-8|1006|  2| f3-5| f3-5|
|10002| f2-9|1008|  2| f3-5| f3-5|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-12|1004|  3| f3-7| f3-7|
|10003|f2-13|1006|  3| f3-8| f3-8|
|10003|f2-14|1008|  3| f3-8| f3-8|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10004|f2-17|1004|  4|f3-10|f3-10|
|10004|f2-18|1006|  4|f3-11|f3-11|
|10004|f2-19|1008|  4|f3-11|f3-11|
|10004|f2-20|1010|  4|f3-12|f3-12|
|10005|f2-22|1004|  5|f3-13|f3-13|
|10005|f2-23|1006|  5|f3-14|f3-14|
|10005|f2-24|1008|  5|f3-14|f3-14|
|10005|f2-25|1010|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [108]:
query.read(online=True).sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10001| f2-2|1004|  1| f3-3| f3-3|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10004|f2-19|1008|  4|f3-12|f3-12|
|10005|f2-24|1008|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [109]:
query = fg1.select_all().join(fg2_nonhudi.select_all(), on="id").join(fg3_nonhudi.select_all(), left_on=["id", "id2"], right_on=["id", "id2"])

In [110]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `demo_fs_meb10000_featurestore`.`fg2_nonhudi_1` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg1`.`f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `demo_fs_meb10000_featurestore`.`fg3_nonhudi_1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`id2`, `x0`.`label`, `x0`.`ts`, `x0`.`id`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [111]:
query.read().sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10001| f2-2|1004|  1| f3-1| f3-1|
|10001| f2-3|1006|  1| f3-2| f3-2|
|10001| f2-4|1008|  1| f3-2| f3-2|
|10001| f2-5|1010|  1| f3-3| f3-3|
|10002| f2-7|1004|  2| f3-4| f3-4|
|10002| f2-8|1006|  2| f3-5| f3-5|
|10002| f2-9|1008|  2| f3-5| f3-5|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-12|1004|  3| f3-7| f3-7|
|10003|f2-13|1006|  3| f3-8| f3-8|
|10003|f2-14|1008|  3| f3-8| f3-8|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10004|f2-17|1004|  4|f3-10|f3-10|
|10004|f2-18|1006|  4|f3-11|f3-11|
|10004|f2-19|1008|  4|f3-11|f3-11|
|10004|f2-20|1010|  4|f3-12|f3-12|
|10005|f2-22|1004|  5|f3-13|f3-13|
|10005|f2-23|1006|  5|f3-14|f3-14|
|10005|f2-24|1008|  5|f3-14|f3-14|
|10005|f2-25|1010|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [112]:
query.read(online=True).sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10001| f2-1|1002|  1| f3-3| f3-3|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10004|f2-20|1010|  4|f3-12|f3-12|
|10005|f2-24|1008|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [113]:
ondmd = fs.get_on_demand_feature_group("season_features_on_demand")
teams = fs.get_feature_group("teams_features")

VersionWarning: No version provided for getting feature group `season_features_on_demand`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `teams_features`, defaulting to `1`.

In [114]:
query = fg1.select_all().join(ondmd.select_all(), left_on=["id"], right_on=["team_id"])

In [115]:
print(query.to_string())

SELECT `fg1`.`id2`, `fg1`.`label`, `fg1`.`ts`, `fg1`.`id`, `fg0`.`sum_position`, `fg0`.`average_position`, `fg0`.`team_id`
FROM `fg1` `fg1`
INNER JOIN `fg0` ON `fg1`.`id` = `fg0`.`team_id`

In [116]:
query.read().sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+------------+----------------+-------+
|  id2|label|  ts| id|sum_position|average_position|team_id|
+-----+-----+----+---+------------+----------------+-------+
|10001| f2-1|1002|  1|       581.0|           29.05|      1|
|10001| f2-2|1004|  1|       581.0|           29.05|      1|
|10001| f2-3|1006|  1|       581.0|           29.05|      1|
|10001| f2-4|1008|  1|       581.0|           29.05|      1|
|10001| f2-5|1010|  1|       581.0|           29.05|      1|
|10002| f2-6|1002|  2|       542.0|            27.1|      2|
|10002| f2-7|1004|  2|       542.0|            27.1|      2|
|10002| f2-8|1006|  2|       542.0|            27.1|      2|
|10002| f2-9|1008|  2|       542.0|            27.1|      2|
|10002|f2-10|1010|  2|       542.0|            27.1|      2|
|10003|f2-11|1002|  3|       577.0|           28.85|      3|
|10003|f2-12|1004|  3|       577.0|           28.85|      3|
|10003|f2-13|1006|  3|       577.0|           28.85|      3|
|10003|f2-14|1008|  3|       577.0|           28.85|      3|
|10003|f2-15|1010|  3|       577.0|           28.85|      3|
|10004|f2-16|1002|  4|       542.0|            27.1|      4|
|10004|f2-17|1004|  4|       542.0|            27.1|      4|
|10004|f2-18|1006|  4|       542.0|            27.1|      4|
|10004|f2-19|1008|  4|       542.0|            27.1|      4|
|10004|f2-20|1010|  4|       542.0|            27.1|      4|
|10005|f2-21|1002|  5|       596.0|            29.8|      5|
|10005|f2-22|1004|  5|       596.0|            29.8|      5|
|10005|f2-23|1006|  5|       596.0|            29.8|      5|
|10005|f2-24|1008|  5|       596.0|            29.8|      5|
|10005|f2-25|1010|  5|       596.0|            29.8|      5|
+-----+-----+----+---+------------+----------------+-------+

In [38]:
sc = fs.get_storage_connector("demo_fs_meb10000_meb10000_onlinefeaturestore")

In [ ]:
fg3_ondmd = fs.create_on_demand_feature_group("fg3_ondmd", sc, statistics_config=False, event_time="ts", query="select * from fg3_1")

fg3_ondmd.save()

In [53]:
fg3_ondmd.show(50)

+---+----+-----+-----+
| id|  ts|   f3|  id2|
+---+----+-----+-----+
|  1|1009| f3-3|10001|
|  2|1009| f3-6|10002|
|  3|1009| f3-9|10003|
|  5|1009|f3-15|10005|
|  4|1009|f3-12|10004|
+---+----+-----+-----+

In [117]:
fg3_ondmd = fs.get_on_demand_feature_group("fg3_ondmd")

VersionWarning: No version provided for getting feature group `fg3_ondmd`, defaulting to `1`.

In [118]:
query = fg1.select_all().join(fg2_nonhudi.select_all(), on="id").join(fg3_ondmd.select_all(), left_on=["id", "id2"], right_on=["id", "id2"])

In [119]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `demo_fs_meb10000_featurestore`.`fg2_nonhudi_1` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg1`.`f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`id2`, `x0`.`label`, `x0`.`ts`, `x0`.`id`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [120]:
query.read().sort(col("id"),col("ts")).show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10001| f2-5|1010|  1| f3-3| f3-3|
|10002|f2-10|1010|  2| f3-6| f3-6|
|10003|f2-15|1010|  3| f3-9| f3-9|
|10004|f2-20|1010|  4|f3-12|f3-12|
|10005|f2-25|1010|  5|f3-15|f3-15|
+-----+-----+----+---+-----+-----+

In [122]:
query.to_string(online=True)

In [121]:
query.read(online=True).sort(col("id"),col("ts")).show(50)

An error was encountered:
Option 'dbtable' or 'query' is required.
Traceback (most recent call last):
  File "/srv/hops/anaconda/envs/theenv/lib/python3.7/site-packages/hsfs/constructor/query.py", line 97, in read
    read_options,
  File "/srv/hops/anaconda/envs/theenv/lib/python3.7/site-packages/hsfs/engine/spark.py", line 64, in sql
    result_df = connector.read(sql_query, None, {}, None)
  File "/srv/hops/anaconda/envs/theenv/lib/python3.7/site-packages/hsfs/storage_connector.py", line 738, in read
    return engine.get_instance().read(self, self.JDBC_FORMAT, options, None)
  File "/srv/hops/anaconda/envs/theenv/lib/python3.7/site-packages/hsfs/engine/spark.py", line 412, in read
    .load(path)
  File "/srv/hops/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 210, in load
    return self._df(self._jreader.load())
  File "/srv/hops/spark/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 1305, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/srv/hops/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 117, in deco
    raise converted from None
pyspark.sql.utils.IllegalArgumentException: Option 'dbtable' or 'query' is required.

## PIT with filters

In [9]:
fg1 = fs.get_feature_group("fg1")
fg2 = fs.get_feature_group("fg2")
fg3 = fs.get_feature_group("fg3")

VersionWarning: No version provided for getting feature group `fg1`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg2`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg3`, defaulting to `1`.

In [138]:
query = fg1.select_all().filter(fg1["id"] == 1).join(fg2.select_all().filter(fg2["id"] == 1), on="id").join(fg3.select_all(), left_on=["id", "id2"], right_on=["id", "id2"])

In [139]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg0` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`
WHERE `fg2`.`id` = 1 AND `fg0`.`id` = 1)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`id2`, `fg2`.`label`, `fg2`.`ts`, `fg2`.`id`, `fg1`.`f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND `fg2`.`id2` = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`
WHERE `fg2`.`id` = 1)
WHERE `rank` = 1) (SELECT `x0`.`id2`, `x0`.`label`, `x0`.`ts`, `x0`.`id`, `x1`.`f3`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [133]:
query.show(50)

+-----+-----+----+---+-----+-----+
|  id2|label|  ts| id|   f2|   f3|
+-----+-----+----+---+-----+-----+
|10003|f2-14|1008|  3| f3-8| f3-8|
|10002| f2-9|1008|  2| f3-5| f3-5|
|10005|f2-23|1006|  5|f3-14|f3-14|
|10002| f2-7|1004|  2| f3-4| f3-4|
|10001| f2-5|1010|  1| f3-3| f3-3|
+-----+-----+----+---+-----+-----+
only showing top 5 rows

## Features with default values

In [10]:
from hsfs.feature import Feature
from pyspark.sql.functions import lit

In [8]:
fg1_default = fs.create_feature_group("fg1_default", statistics_config=False, online_enabled=True, primary_key=["id"], event_time="ts")

fg1_default.save(fg01.select(["id", "label", "ts"]))

<hsfs.feature_group.FeatureGroup object at 0x7fd46111ba90>
VersionWarning: No version provided for creating feature group `fg1_default`, incremented version to `1`.

In [9]:
fg1_default_nonhudi = fs.create_feature_group("fg1_default_nonhudi", statistics_config=False, online_enabled=True, primary_key=["id"], event_time="ts", time_travel_format=None)

fg1_default_nonhudi.save(fg01.select(["id", "label", "ts"]))

<hsfs.feature_group.FeatureGroup object at 0x7fd46111b910>
VersionWarning: No version provided for creating feature group `fg1_default_nonhudi`, incremented version to `1`.

In [10]:
fg1_default.append_features([Feature("id2", type="int", default_value="10")])

<hsfs.feature_group.FeatureGroup object at 0x7fd46111ba90>

In [11]:
fg1_default_nonhudi.append_features([Feature("id2", type="int", default_value="10")])

<hsfs.feature_group.FeatureGroup object at 0x7fd46111b910>

In [11]:
fg1_default = fs.get_feature_group("fg1_default")
fg1_default_nonhudi = fs.get_feature_group("fg1_default_nonhudi")

VersionWarning: No version provided for getting feature group `fg1_default`, defaulting to `1`.
VersionWarning: No version provided for getting feature group `fg1_default_nonhudi`, defaulting to `1`.

In [24]:
fg1_default.insert(fg01, storage="offline")

StorageWarning: The statistics are not enabled of feature group `fg1_default`, with version `1`. No statistics computed.

In [25]:
fg1_default.select_all().show(50)

+----+-----+---+-----+
|  ts|label| id|  id2|
+----+-----+---+-----+
|1010|f2-20|  4|10004|
|1008|f2-24|  5|10005|
|1008|f2-19|  4|10004|
|1002|f2-16|  4|10004|
|1010|f2-10|  2|10002|
|1010|f2-15|  3|10003|
|1006|f2-23|  5|10005|
|1002|f2-11|  3|10003|
|1002| f2-6|  2|10002|
|1010| f2-5|  1|10001|
|1004| f2-2|  1|10001|
|1004| f2-7|  2|10002|
|1006| f2-8|  2|10002|
|1006| f2-3|  1|10001|
|1002| f2-1|  1|10001|
|1006|f2-18|  4|10004|
|1002|f2-21|  5|10005|
|1004|f2-17|  4|10004|
|1010|f2-25|  5|10005|
|1004|f2-22|  5|10005|
|1004|f2-12|  3|10003|
|1008|f2-14|  3|10003|
|1006|f2-13|  3|10003|
|1008| f2-4|  1|10001|
|1008| f2-9|  2|10002|
+----+-----+---+-----+

In [26]:
fg1_default.select_all().to_string()

'SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END `id2`\nFROM `fg0` `fg0`'

In [12]:
query = fg1_default.select_all().join(fg2.select_all(), on="id").join(fg3.select_all(), left_on=["id", "id2"], right_on=["id", "id2"])

In [13]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`ts`, `fg2`.`label`, `fg2`.`id`, CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END `id2`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg0` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`ts`, `fg2`.`label`, `fg2`.`id`, CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END `id2`, `fg1`.`f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`ts`, `x0`.`label`, `x0`.`id`, `x0`.`id2`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [14]:
query.read().show(50)

+----+-----+---+-----+-----+-----+
|  ts|label| id|  id2|   f2|   f3|
+----+-----+---+-----+-----+-----+
|1008|f2-14|  3|10003| f3-8| f3-8|
|1008| f2-9|  2|10002| f3-5| f3-5|
|1006|f2-23|  5|10005|f3-14|f3-14|
|1004| f2-7|  2|10002| f3-4| f3-4|
|1010| f2-5|  1|10001| f3-3| f3-3|
|1008|f2-19|  4|10004|f3-11|f3-11|
|1004|f2-12|  3|10003| f3-7| f3-7|
|1006| f2-3|  1|10001| f3-2| f3-2|
|1010|f2-20|  4|10004|f3-12|f3-12|
|1010|f2-15|  3|10003| f3-9| f3-9|
|1004|f2-22|  5|10005|f3-13|f3-13|
|1008|f2-24|  5|10005|f3-14|f3-14|
|1010|f2-25|  5|10005|f3-15|f3-15|
|1006| f2-8|  2|10002| f3-5| f3-5|
|1008| f2-4|  1|10001| f3-2| f3-2|
|1010|f2-10|  2|10002| f3-6| f3-6|
|1006|f2-13|  3|10003| f3-8| f3-8|
|1006|f2-18|  4|10004|f3-11|f3-11|
|1004|f2-17|  4|10004|f3-10|f3-10|
|1004| f2-2|  1|10001| f3-1| f3-1|
+----+-----+---+-----+-----+-----+

In [19]:
sc = fs.get_storage_connector("demo_fs_meb10000_Training_Datasets")

In [16]:
td = fs.create_training_dataset("time_travel", statistics_config=False, data_format="csv", storage_connector=sc)

In [17]:
td.save(query)

<hsfs.training_dataset.TrainingDataset object at 0x7f8735d04f90>
VersionWarning: No version provided for creating training dataset `time_travel`, incremented version to `1`.

In [12]:
td = fs.get_training_dataset("time_travel")

VersionWarning: No version provided for getting training dataset `time_travel`, defaulting to `1`.

In [12]:
td.query

'SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, `fg0`.`id2`, `fg1`.`f2`, `fg2`.`f3`\nFROM `demo_fs_meb10000`.`fg1_default_1` `fg0`\nINNER JOIN `demo_fs_meb10000`.`fg2_1` `fg1` ON `fg0`.`id` = `fg1`.`id`\nINNER JOIN `demo_fs_meb10000`.`fg3_1` `fg2` ON `fg0`.`id2` = `fg2`.`id2` AND `fg0`.`id` = `fg2`.`id`'

In [13]:
print(td.get_query(False))

WITH x0 (SELECT *
FROM (SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END `id2`, `fg1`.`f2`, RANK() OVER (PARTITION BY `fg0`.`id`, `fg0`.`ts` ORDER BY `fg1`.`ts2` DESC) rank
FROM `fg0` `fg0`
INNER JOIN `fg1` `fg1` ON `fg0`.`id` = `fg1`.`id` AND `fg0`.`ts` >= `fg1`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END `id2`, `fg2`.`f3`, RANK() OVER (PARTITION BY `fg0`.`id2`, `fg0`.`id`, `fg0`.`ts` ORDER BY `fg2`.`ts` DESC) rank
FROM `fg0` `fg0`
INNER JOIN `fg2` `fg2` ON CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END = `fg2`.`id2` AND `fg0`.`id` = `fg2`.`id` AND `fg0`.`ts` >= `fg2`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`ts`, `x0`.`label`, `x0`.`id`, `x0`.`id2`, `x0`.`f2`, `x1`.`f3`
FROM x0
INNER JOIN x1 ON `x0`.`id2` = `x1`.`id2` AND `x0`.`id` = `x1`.`id` AND `x0`.`ts` = `x1`.`ts`)

In [16]:
query = fg1_default.select_all().join(fg2.select_all(), on="id").join(fg3.select_all(), left_on=["id", "id2"], right_on=["id", "id2"], prefix="right_")

In [20]:
print(query.to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`ts`, `fg2`.`label`, `fg2`.`id`, CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END `id2`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg0` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`ts`, `fg2`.`label`, `fg2`.`id`, CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END `id2`, `fg1`.`f3` `right_f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`ts`, `x0`.`label`, `x0`.`id`, `x0`.`id2`, `x0`.`f2`, `x1`.`right_f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [23]:
td = fs.create_training_dataset("time_travel_prefix", statistics_config=False, data_format="csv", storage_connector=sc)

In [25]:
td.save(query)

<hsfs.training_dataset.TrainingDataset object at 0x7fdb020721d0>
VersionWarning: No version provided for creating training dataset `time_travel_prefix`, incremented version to `1`.

In [24]:
query.read().show(50)

+----+-----+---+-----+-----+--------+
|  ts|label| id|  id2|   f2|right_f3|
+----+-----+---+-----+-----+--------+
|1008|f2-14|  3|10003| f3-8|    f3-8|
|1008| f2-9|  2|10002| f3-5|    f3-5|
|1006|f2-23|  5|10005|f3-14|   f3-14|
|1004| f2-7|  2|10002| f3-4|    f3-4|
|1010| f2-5|  1|10001| f3-3|    f3-3|
|1008|f2-19|  4|10004|f3-11|   f3-11|
|1004|f2-12|  3|10003| f3-7|    f3-7|
|1006| f2-3|  1|10001| f3-2|    f3-2|
|1010|f2-20|  4|10004|f3-12|   f3-12|
|1010|f2-15|  3|10003| f3-9|    f3-9|
|1004|f2-22|  5|10005|f3-13|   f3-13|
|1008|f2-24|  5|10005|f3-14|   f3-14|
|1010|f2-25|  5|10005|f3-15|   f3-15|
|1006| f2-8|  2|10002| f3-5|    f3-5|
|1008| f2-4|  1|10001| f3-2|    f3-2|
|1010|f2-10|  2|10002| f3-6|    f3-6|
|1006|f2-13|  3|10003| f3-8|    f3-8|
|1006|f2-18|  4|10004|f3-11|   f3-11|
|1004|f2-17|  4|10004|f3-10|   f3-10|
|1004| f2-2|  1|10001| f3-1|    f3-1|
+----+-----+---+-----+-----+--------+

In [27]:
print(td.get_query(False))

WITH x0 (SELECT *
FROM (SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END `id2`, `fg1`.`f2`, RANK() OVER (PARTITION BY `fg0`.`id`, `fg0`.`ts` ORDER BY `fg1`.`ts2` DESC) rank
FROM `fg0` `fg0`
INNER JOIN `fg1` `fg1` ON `fg0`.`id` = `fg1`.`id` AND `fg0`.`ts` >= `fg1`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END `id2`, `fg2`.`f3` `right_f3`, RANK() OVER (PARTITION BY `fg0`.`id`, `fg0`.`id2`, `fg0`.`ts` ORDER BY `fg2`.`ts` DESC) rank
FROM `fg0` `fg0`
INNER JOIN `fg2` `fg2` ON `fg0`.`id` = `fg2`.`id` AND CASE WHEN `fg0`.`id2` IS NULL THEN 10 ELSE `fg0`.`id2` END = `fg2`.`id2` AND `fg0`.`ts` >= `fg2`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`ts`, `x0`.`label`, `x0`.`id`, `x0`.`id2`, `x0`.`f2`, `x1`.`right_f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [28]:
td.query

'SELECT `fg0`.`ts`, `fg0`.`label`, `fg0`.`id`, `fg0`.`id2`, `fg1`.`f2`, `fg2`.`f3` `right_f3`\nFROM `demo_fs_meb10000`.`fg1_default_1` `fg0`\nINNER JOIN `demo_fs_meb10000`.`fg2_1` `fg1` ON `fg0`.`id` = `fg1`.`id`\nINNER JOIN `demo_fs_meb10000`.`fg3_1` `fg2` ON `fg0`.`id` = `fg2`.`id` AND `fg0`.`id2` = `fg2`.`id2`'

In [18]:
print(query.as_of("20210706150910").to_string())

WITH x0 (SELECT *
FROM (SELECT `fg2`.`ts`, `fg2`.`label`, `fg2`.`id`, CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END `id2`, `fg0`.`f2`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`ts` ORDER BY `fg0`.`ts2` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg0` `fg0` ON `fg2`.`id` = `fg0`.`id` AND `fg2`.`ts` >= `fg0`.`ts2`)
WHERE `rank` = 1), x1 (SELECT *
FROM (SELECT `fg2`.`ts`, `fg2`.`label`, `fg2`.`id`, CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END `id2`, `fg1`.`f3` `right_f3`, RANK() OVER (PARTITION BY `fg2`.`id`, `fg2`.`id2`, `fg2`.`ts` ORDER BY `fg1`.`ts` DESC) rank
FROM `fg2` `fg2`
INNER JOIN `fg1` `fg1` ON `fg2`.`id` = `fg1`.`id` AND CASE WHEN `fg2`.`id2` IS NULL THEN 10 ELSE `fg2`.`id2` END = `fg1`.`id2` AND `fg2`.`ts` >= `fg1`.`ts`)
WHERE `rank` = 1) (SELECT `x0`.`ts`, `x0`.`label`, `x0`.`id`, `x0`.`id2`, `x0`.`f2`, `x1`.`right_f3`
FROM x0
INNER JOIN x1 ON `x0`.`id` = `x1`.`id` AND `x0`.`id2` = `x1`.`id2` AND `x0`.`ts` = `x1`.`ts`)

In [14]:
fg1_default.commit_details()

{1625666262000: {'committedOn': '20210707135742', 'rowsUpdated': 25, 'rowsInserted': 0, 'rowsDeleted': 0}, 1625584324000: {'committedOn': '20210706151204', 'rowsUpdated': 0, 'rowsInserted': 0, 'rowsDeleted': 0}, 1625584150000: {'committedOn': '20210706150910', 'rowsUpdated': 0, 'rowsInserted': 25, 'rowsDeleted': 0}}

In [20]:
td = fs.create_training_dataset("time_travel_pit", statistics_config=False, data_format="csv", storage_connector=sc)

In [21]:
td.save(query.as_of("20210706150910"))

<hsfs.training_dataset.TrainingDataset object at 0x7f1b937893d0>
VersionWarning: No version provided for creating training dataset `time_travel_pit`, incremented version to `1`.

In [22]:
fg = fs.get_feature_group("games_features_hudi_tour")

VersionWarning: No version provided for getting feature group `games_features_hudi_tour`, defaulting to `1`.

In [24]:
fg.read().show(30)

+------------+------------+-----+
|home_team_id|away_team_id|score|
+------------+------------+-----+
|          50|           4|    1|
|          50|          13|    1|
|          50|          30|    1|
|          50|          28|    1|
|          50|           3|    1|
|          50|          39|    1|
|          50|           5|    1|
|          50|          34|    1|
|          50|          14|    1|
|          50|           3|    1|
|          50|          30|    1|
|          50|           7|    1|
|          50|           2|    1|
|          50|           5|    1|
|          50|           9|    1|
|          50|          17|    1|
|          50|           5|    1|
|          50|          45|    1|
|          50|          33|    1|
|          50|          25|    1|
|          50|          15|    1|
|          50|          35|    1|
|          50|          22|    1|
|          50|          36|    1|
|          50|          39|    1|
|          50|          29|    1|
|          50|          19|    1|
|          50|          23|    1|
|          50|           2|    1|
|          50|          15|    1|
+------------+------------+-----+
only showing top 30 rows